{module name="menu_mypage_topics_list" if=$list}

<h2 class="module_title"><span>{'/modules/topics'|translate}</span></h2>
<div class="module_contents">

<ul class="mypage_content_list">
{foreach from=$list item=header}
  <li>
    <a href="{$header.link}">{$header.title}</a>

    {if $header.items|@count > 0}
    {if $use_pager}{rcms_include file="common/pageLinks.html" pageInfo=$header.pageInfo}{/if}
    <ul class="items">
      {foreach from=$header.items item=row}
        <li>
          <a href="{$row.link}">{$row.title}</a>
          <ul class="info">
            <li>{$row.ymd|pg_dateformat:"%Y/%m/%d"}</li>
            <li><a href="{$row.edit_link}" onclick="rcmsLightWindow.showManagement(this.href);return false;">{'/label/edit'|translate}</a></li>
          </ul>
        </li>
      {/foreach}
      <li>
    </ul>

    {if $use_pager}{rcms_include file="common/pageLinks.html" pageInfo=$header.pageInfo}{/if}
    {/if}

    <ul class="info">
    {if !$use_pager}
      <li><a href="{$header.item_list_link}" onclick="rcmsLightWindow.showManagement(this.href);return false;">{'/modules/menu/label/more'|translate}</a></li>
    {/if}
      <li><a href="{$header.item_edit_link}" onclick="rcmsLightWindow.showManagement(this.href);return false;">{'/label/add_new'|translate}</a></li>
    </ul>
  </li>
{/foreach}
</ul>

</div>
{/module}
