{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}

<script language="javascript" type="text/javascript" src="/js/pager.js"></script>

<div class="list_right_bt">
<h2>{'/modules/blog/label/blog_settings'|translate}</h2>{* ブログ設定 *}
<ul>
{if $rauth->canInsert("/blog/item/"|cat:$formData.blog_id) && $formData.blog_id}
<li class="add"><a href="/management/blog/blog_item_edit/blog_id={$formData.blog_id}"><span>{'/modules/blog/label/add_new_entry_btn'|translate}</span></a></li>{* ブログ記事追加 *}
{/if}
</ul>
</div>

{pankuzu}
<a href="/management/menu/contents/">{'/label/menus/contents'|translate}</a>
<a href="/management/blog/blog_list/">{'/modules/blog'|translate}</a>
<a href="/management/blog/blog_list/">{'/modules/blog/label/blog_list'|translate}</a>
{'/modules/blog/label/blog_settings'|translate}
{/pankuzu}
{* 【ぱんくず】コンテンツ更新 >> ブログ >> ブログ一覧 >> ブログ設定 *}

<div class="clear"></div>

<div class="main_contents">

{rcms_include file="common/admin/shonin_message.html" docmeta=$docmeta link='/management/blog/blog_edit/blog_id='|cat:$formData.blog_id}

<h3 class="title">{if $header.title}{$header.title|escape}{else}{'/modules/blog/msg/add_new_blog'|translate}{/if}</h3>{* ブログを新規作成します。 *}

{rcms_include file="$mt/admin/minitabs.html" page_type=$ct auth=$auth}

<div class="list_main">
{rcms_include file="management/messages_box.html" messages=$messages}
{rcms_include file="management/errors_box.html" errors=$errors}


<!-- ブログ基本設定 -->
<div id="blog_header">
  <h3>{'/modules/blog/label/blog_settings'|translate}</h3>{* ブログ設定 *}

  <form name="blog_edit" id="blog_edit" action="/management/blog/blog_edit/" method="POST">
    <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
    <input type="hidden" name="blog_id" value="{$formData.blog_id}" />
    <input type="hidden" name="MODE" value="" />
    <input type="hidden" name="theme_order" id="theme_order" />
    <input type="hidden" name="_doc_lang" value="{$docmeta.lang}" />

    {if $formData.blog_id == ""}
      <p id="add_new_blog">{'/modules/blog/msg/add_new_blog'|translate}</p>{* ブログを新規作成します。 *}
    {else}
      {lang_selector meta=$docmeta link='/management/blog/blog_edit/blog_id='|cat:$formData.blog_id}
    {/if}

     <div id="blog_header_config" style="margin-bottom:10px">

      {if $blnBlogEditable}
        {* 新規作成 or オーナー or ブログ管理者権限有り*}
        <table width="100%" id="blog_table">
          <tr id="blog_title_tr">
            <th width="20%" id="blog_title_th">{'/modules/blog/label/blog_title'|translate}<span class="required">{'/label/required'|translate}</span></th>{* ブログタイトル 必須 *}
            <td width="80%" id="blog_title_td"><input name="title" type="text" size="60" value="{$formData.title|escape}" />{'/modules/blog/msg/required_40'|translate}</td>{* 40文字以内 *}
          </tr>
          <tr id="brief_exp_tr">
            <th id="brief_exp_th">{'/modules/blog/label/brief_exp'|translate}</th>{* 一言メッセージ *}
            <td id="brief_exp_td"><input name="message" type="text" size="60" value="{$formData.message|escape}" />{'/modules/blog/msg/required_60'|translate}</td>{* 60文字以内 *}
          </tr>
{if $docmeta.is_primary}{* $docmeta.is_primary No1 *}
          <tr id="order_no_tr">
            <th id="order_no_th">{'/label/order_no'|translate}</th>{* 表示順 *}
            <td id="order_no_td"><input name="order_no" type="text" size="5" value="{$formData.order_no|escape}" /><span class="hint">{'/msg/data_order'|translate}{*並び順は数字の大きい順に並びます。*}</span></td>
          </tr>
          <tr id="outside_blog_url_tr">
            <th id="outside_blog_url_th">{'/modules/blog/label/outside_blog_url'|translate}</th>{* 外部ブログURL *}
            <td id="outside_blog_url_td">
              <input name="gaibu_url" type="text" size="60" value="{$formData.gaibu_url|escape}" /><input type="hidden" name="gaibu_error_cnt" value="{$formData.gaibu_error_cnt}">
              <p class="hint">{'/modules/blog/msg/gaibu_error_cnt'|translate:$smarty.const.GAIBU_ERROR_MAX_CNT:$formData.gaibu_error_cnt}</p>{*20回以上取り込みエラーが発生した場合、一時的に更新がストップします。ブログの設定を更新するとリセットされます。 (現在、n回取り込みエラーが発生しています。)*}
              <p class="hint">{'/modules/blog/msg/fill_rss_url'|translate}</p>{* http://を含めて、RSSのURLをご記入ください。例）http://www.r-cms.jp/index.rdf *}
            </td>
          </tr>
          <tr id="publish_settings_tr">
            <th id="publish_settings_th">{'/label/publish_settings'|translate}<span class="required">{'/label/required'|translate}</span></th>{* 公開設定 必須 *}
            <td id="publish_settings_td">{html_radios name=open_flg options=$itemOpenOptions selected=$formData.open_flg}</td>
          </tr>
          <tr id="comment_option_tr">
            <th id="comment_option_th">{'/modules/blog/label/comment_option'|translate}<span class="required">{'/label/required'|translate}</span></th>{* コメント受付 必須 *}
            <td id="comment_option_td">
              {html_radios name=default_comment_flg options=$blogCommentOptions selected=$formData.default_comment_flg}
              <p style="margin-top: 5px" class="hint">{'/modules/blog/msg/initial_value'|translate}</p>{* 記事を新規作成したときの初期値になります *}
            </td>
          </tr>
          <tr id="receive_trackback_tr">
            <th id="receive_trackback_th">{'/modules/blog/label/receive_trackback'|translate}<span class="required">{'/label/required'|translate}</span></th>{* トラックバック受付 必須 *}
            <td id="receive_trackback_td">
              {html_radios name=default_trackback_flg options=$blogTrackbackOptions selected=$formData.default_trackback_flg}
              <p style="margin-top: 5px" class="hint">{'/modules/blog/msg/initial_value'|translate}</p>{* 記事を新規作成したときの初期値になります *}
            </td>
          </tr>
          <tr id="viewing_limit_tr">
            <th id="viewing_limit_th">{'/label/viewing_limit'|translate}</th>{* 閲覧制限 *}
            <td id="viewing_limit_td">
                <input type="radio" name="secure_flg" id="secure_flg_off" value="off" onclick="display('secure_group_list', 'none');" {if $formData.secure_flg != 'on'}checked="checked"{/if}/><label for="secure_flg_off">{'/label/unlimited'|translate}</label>{* 制限無し *}
                <input type="radio" name="secure_flg" id="secure_flg_on" value="on" onclick="display('secure_group_list', '');" {if $formData.secure_flg == 'on'}checked="checked"{/if} style="margin-left: 10px;" /><label for="secure_flg_on">{'/label/limited'|translate}</label>{* 制限有り *}
              <div id="secure_group_list" style="margin: 10px 0 0 10px; {if $formData.secure_flg != 'on'}display:none;{/if}">
                <p class="hint">{'/msg/select_group_for_view'|translate}</p>{* 閲覧を許可するグループを選択してください。(複数選択できます) *}
                <select name="secure_level[]" size="8" style="width: 150px" multiple="multiple">{html_options options=$arrAdmin selected=$formData.secure_level}</select>
              </div>
            </td>
          </tr>
          <tr id="content_input_type_tr">
            <th id="content_input_type_th">{'/modules/blog/label/content_input_type'|translate}</th>{* 本文の入力方法 *}
            <td id="content_input_type_td">
              {html_radios name="content_input_type" options=$arrBlog_Content_input_type selected=$formData.content_input_type separator=" "}
            </td>
          </tr>
          <tr id="use_summary_flg_tr">
            <th id="use_summary_flg_th">{'/modules/blog/label/use_summary_flg'|translate}</th>{* サマリーを使う *}
            <td id="use_summary_flg_td">
              <input type="checkbox" name="use_summary_flg" id="use_summary_flg" value="1" {if $formData.use_summary_flg}checked="checked"{/if} /><label for="use_summary_flg">{'/msg/enable'|translate}</label>
            </td>
          </tr>
          <tr id="css_settings_tr">
            <th id="css_settings_th">{'/label/css_settings'|translate}</th>{* CSS設定 *}
            <td id="css_settings_td">
              <input type="radio" name="css_flg" id="css_flg_on" value="1" {if $formData.css_flg == 1}checked="checked"{/if} /><label for="css_flg_on">{'/modules/blog/label/apply'|translate}</label>{* 適用する *}
              <input type="radio" name="css_flg" id="css_flg_off" value="0" {if $formData.css_flg == 0|| !$formData.css_flg}checked="checked"{/if} /><label for="css_flg_off">{'/modules/blog/label/do_not_apply'|translate}</label>{* 適用しない *}
              <p class="hint">{'/modules/blog/msg/style_sheets'|translate}</p>{* このブログに使用したいスタイルシートを下の欄に記入してください。 *}
              <p style="margin: 10px 0 0 10px;">
                <a id="css_edit_open" href="javascript:void(0)" onclick="display('css_edit_open', 'none');display('css_edit_close', '');display('css_edit', '');return false;">&gt;&gt;{'/modules/blog/label/display_editor'|translate}</a>{* 編集欄を表示 *}
                <a id="css_edit_close" style="display:none" href="javascript:void(0)" onclick="display('css_edit_open', '');display('css_edit_close', 'none');display('css_edit', 'none');return false;">&gt;&gt;{'/label/close'|translate}</a>{* 閉じる *}
              </p>
              <div id="css_edit" style="display:none; margin: 10px 0 0 10px;">
                <textarea name="blog_css" cols="55" rows="20" >{$formData.blog_css}</textarea>
              </div>
            </td>
          </tr>
{/if}{* $docmeta.is_primary No1 *}
        </table>
      {else}
        <table width="650" id="blog_table">
          <tr id="blog_title_tr">
            <th width="25%" id="blog_title_th">{'/modules/blog/label/blog_title'|translate}</th>{* ブログタイトル *}
            <td width="75%" id="blog_title_td">{$formData.title}</td>
          </tr>
          <tr id="brief_exp_tr">
            <th id="brief_exp_th">{'/modules/blog/label/brief_exp'|translate}{* 一言メッセージ *}</th>
            <td id="brief_exp_td">{$formData.message}</td>
          </tr>
{if $docmeta.is_primary}{* $docmeta.is_primary No2 *}
          <tr id="message_for_comment_tr">
            <th id="message_for_comment_th">{'/modules/blog/label/message_for_comment'|translate}</th>{* コメント入力後のメッセージ *}
            <td id="message_for_comment_td">{$formData.comment_thank}</td>
          </tr>
          <tr id="publish_settings_tr">
            <th id="publish_settings_th">{'/label/publish_settings'|translate}</th>{* 公開設定 *}
            <td id="publish_settings_td">{$itemOpenOptions[$formData.open_flg]}</td>
          </tr>
{/if}{* $docmeta.is_primary No2 *}
        </table>
      {/if}
    </div>

{if $docmeta.is_primary}{* $docmeta.is_primary No3 *}

{if $rauth->canUpdate("/blog/blog/"|cat:$formData.blog_id) && $formData.blog_id!=''}
  <h3 id="blog_mobile_h3">{'/modules/blog/label/mobile_settings'|translate}{* ケータイ設定 *}</h3>
        <table width="650" id="blog_mobile_table">
          <tr id="email_address_for_post_from_mobile_tr">
            <th width="25%" id="email_address_for_post_from_mobile_th">{'/modules/blog/label/email_address_for_post_from_mobile'|translate}{* 投稿用メールアドレス *}</th>
            <td width="75%" id="email_address_for_post_from_mobile_td">
            {if $ReceiveMail}{$ReceiveMail.site_mail_email}<br>
            <button type="button" onclick="updateUpMail(this.form);">{'/modules/blog/label/change_emal_adress_for_post_from_mobile'|translate}{* 投稿用メールアドレスを再発行する *}</button>
            <input type="hidden" name="site_mail_id" value="{$ReceiveMail.site_mail_id}" />
            <input type="hidden" name="site_mail_email" value="{$ReceiveMail.site_mail_email}" />
            {else}
            <button type="button" onclick="updateUpMail(this.form);">{'/modules/blog/label/get_emal_adress_for_post_from_mobile'|translate}{* 投稿用メールアドレスを発行する *}</button>
            {/if}
            </td>
        {if $ReceiveMail.site_mail_email}
            <td rowspan="4"><img src="{$qrcode_path}"></td>
        {/if}
          </tr>
        {if $ReceiveMail.site_mail_email}
          <tr id="range_permission_posting_entries_tr">
            <th id="range_permission_posting_entries_th">{'/modules/blog/label/range_permission_posting_entries'|translate}{* 投稿の許可範囲 *}</th>
            <td id="range_permission_posting_entries_td">
              <p class="hint">{'/modules/blog/msg/from_email_is_member_only'|translate}{* 設定されたメンバーのアドレスからのみ、投稿を受け付けます。 *}>
              {'/msg/cant_use_emoji'|translate}{* 絵文字はご利用できません。 *}</p>
              <input type="radio" name="receive_type" id="receive_type3" onclick="changeReceiveType()" value="3" {if $ReceiveMail.receive_type eq 3}checked{/if}>{'/modules/blog/label/only_editor_of_this_blog'|translate}{* このブログの記者のみ *}<br>
              <input type="radio" name="receive_type" id="receive_type0" onclick="changeReceiveType()" value="0" {if $ReceiveMail.receive_type eq 0}checked{/if}>{'/modules/blog/label/only_the_specified_group'|translate}{* 指定されたグループのみ *}<br>
              <input type="radio" name="receive_type" id="receive_type1" onclick="changeReceiveType()" value="1" {if $ReceiveMail.receive_type eq 1}checked{/if}>{'/modules/blog/label/all_members_can_post_from_mobile'|translate}{* メンバーであれば誰でもOK *}<br>
              <input type="radio" name="receive_type" id="receive_type2" onclick="changeReceiveType()" value="2" {if $ReceiveMail.receive_type eq 2}checked{/if}>{'/modules/blog/label/everybody_members_can_post_from_mobile'|translate}{* 誰でもOK *}<br>

              <div id="site_mail_group_list" style="{if $ReceiveMail.receive_type != 0}display:none;{/if}">
                <p class="hint">{'/modules/blog/msg/select_group_posting_entries_from_mobile'|translate}{* メール投稿を許可するグループを選択してください。(複数選択できます) *}</p>
                <select name="receive_group_ids[]" size="8" style="width: 150px" multiple="multiple">{html_options options=$arrAdmin selected=$ReceiveMail.receive_group_ids}</select>
              </div>
              <div id="site_mail_member_list" style="{if $ReceiveMail.receive_type != 2}display:none;{/if}">
                <p class="hint">{'/modules/blog/msg/select_member_from_address'|translate}{* 送信元となるメンバーを選択してください。 *}</p>
                <select name="default_member_id" style="width: 150px" >{html_options options=$arrMember selected=$ReceiveMail.default_member_id}</select>
              </div>
            </td>
          </tr>
          <tr id="blog_theme_name_from_email_tr">
            <th id="blog_theme_name_from_email_th">{'/modules/blog/label/blog_theme_name_from_email'|translate}{* テーマ名 *}<span class="required">{'/label/required'|translate}</span></th>
            <td id="blog_theme_name_from_email_td">
              <p class="hint">{'/modules/blog/msg/select_theme_of_entry_from_mobile'|translate}{* テーマを選択して下さい。ケータイから投稿された記事は全て設定されたテーマになります。 *}</p>
              <select name="site_mail_theme" >{html_options options=$arrUpMailBlogTheme selected=$ReceiveMail.site_mail_theme}</select>
            </td>
          </tr>

          <tr id="deletion_of_mail_posting_settings_tr">
            <th id="deletion_of_mail_posting_settings_th">{'/label/deletion_of_mail_posting_settings'|translate}{* メール投稿設定を削除する *}</th>
            <td id="deletion_of_mail_posting_settings_td">
                <p class="hint">{'/msg/alert_about_posting_entries_from_mobile_settings'|translate}{*ケータイからメールで投稿された記事は、承認ステップやユーザー権限に関係なく登録されます。ケータイからの投稿を完全に制限する場合は、設定を削除して下さい。*}</p>
                <button type="button" onclick="deleteUpMail(this.form);">{'/label/delete_btn'|translate}{* 削除する *}</button>
            </td>
          </tr>

        {/if}
        </table>
{/if}

<!--関連情報-->
{rcms_include file="management/relation_edit.html" mod="blog_header"}

</div><!--//blog_header-->
<!-- //ブログ基本設定 -->



<!-- メンバー一覧 -->
{if $formData.blog_id != "" && ($auth.member.select || $auth.ownmember.select)}

<div id="blog_member_list" style="margin-top:25px;">
  <h3>{'/modules/blog/label/member_list'|translate}</h3>{* メンバー一覧 *}
{strip}
  {foreach from=$member_list name=member_nm item=item}
    {if $smarty.foreach.member_nm.first}
      <p id="nav_info2"></p>
      <p>
        <input id="page_nav_first2" type="button" onclick="member_list.first();" value="{'/label/first'|translate}" class="custombtn1" />{* 最初へ *}
        <input id="page_nav_prev2" type="button" onclick="member_list.prev();" value="{'/label/prev'|translate}" class="custombtn1" />{* 前へ *}
        <input id="page_nav_next2" type="button" onclick="member_list.next();" value="{'/label/next'|translate}" class="custombtn1" />{* 次へ *}
        <input id="page_nav_last2" type="button" onclick="member_list.last();" value="{'/label/last'|translate}" class="custombtn1" />{* 最後へ *}
      </p>
      <table id="member_list" width="100%" border="0" cellspacing="2" cellpadding="0">
        <tr id="member_list_tr">
          <th id="member_name_th">{'/modules/blog/label/member_name'|translate}</th>{* メンバー名 *}
          <th id="role_th">{'/label/role'|translate}</th>{* 役割 *}
        </tr>
    {/if}
        <tr style="display:none">
          <td id="member_name_td">{$item.name}</td>
          <td width="30%" id="role_td">{$blogMemberRoles[$item.role]}</td>
        </tr>
    {if $smarty.foreach.member_nm.last}
      </table>
    {/if}
  {/foreach}
{/strip}
  {if ($auth.blog.insert && $myRole == "owner" || $auth.blog_admin.insert)}
    <a id="post_new_item" href="/management/blog/blog_member_edit/blog_id={$formData.blog_id}">&gt;&gt;{'/modules/blog/label/add_member'|translate}</a>{* メンバー追加 *}
  {/if}
  {if $auth.blog_admin.update}
    <a style="margin-left:2em;" href="/management/blog/blog_owner_edit/blog_id={$formData.blog_id}">&gt;&gt;{'/modules/blog/label/change_owner'|translate}</a>{* オーナー変更 *}
  {/if}
</div><!--//blog_member_list-->
{/if}
<!-- //メンバー一覧 -->


<!-- テーマ一覧 -->
{if $formData.blog_id != ""}
<div id="blog_item_list" style="margin-top:25px;margin-bottom:25px;">
  <h3>{'/modules/blog/label/available_theme_list'|translate}</h3>{* 使用できるテーマ一覧 *}

  {foreach from=$theme_list name=theme_list item=item}
    {if $smarty.foreach.theme_list.first}
      <table width="100%" border="0" cellspacing="2" cellpadding="0" id="blog_theme_table">
        <thead>
          <tr id="blog_theme_table_tr">
            <th width="80%" id="blog_theme_name_th">{'/modules/blog/label/blog_theme_name'|translate}</th>{* テーマ名 *}
            <th width="10%" id="sharing_settings_th">{'/label/sharing_settings'|translate}</th>{* 共有設定 *}
            <th width="10%" id="sort_th">{'/label/sort'|translate}</th>{* 並び順 *}
          </tr>
        </thead>
        <tbody id="item_list_content">
    {/if}
        <tr id="order{$item.theme_id}">
    {if $item.blog_id }

        {if $rauth->canUpdate("/blog/blog/"|cat:$formData.blog_id)}
            <td id="blog_theme_name_td"><a href="javascript:;" onclick="themeInput('{$item.blog_id}', {$item.theme_id})">{$item.theme_nm}</a></td>
        {else}
            <td id="blog_theme_name_td">{$item.theme_nm}</td>
        {/if}
    {else}
          <td id="blog_theme_name_td">{$item.theme_nm}</td>
    {/if}
          <td id="sharing_settings_td">{if $item.share_flg eq '1'}
                  {'/modules/blog/label/share'|translate}{* 全ブログ共有 *}
              {else}
                  {'/modules/blog/label/private'|translate}{* ブログ固有 *}
              {/if}
          </td>
          <td id="sort_td">
            <a href="javascript:;" onclick="swapSibling(-1, 'order{$item.theme_id}');return false;"><img src="/images/management/up.gif" border="0" title="ひとつ上へ" /></a>
            <a href="javascript:;" onclick="swapSibling(1, 'order{$item.theme_id}');return false;"><img src="/images/management/down.gif" border="0" title="ひとつ下へ" /></a>
          </td>
        </tr>
    {if $smarty.foreach.theme_list.last}
        </tbody>
      </table>
    {/if}
  {/foreach}

  {if $rauth->canInsert("/blog/blog/")}
      <a href="javascript:;" onclick="themeInput('{$formData.blog_id}','')">&gt;&gt;{'/modules/blog/label/add_new_theme'|translate}</a>{* 新しくテーマを増やす *}
  {/if}
</div><!--//blog_item_list-->
{/if}
<!-- //テーマ一覧 -->

<!--Keyword, descriotionの設定-->
<h3 id="meta_info_h3">メタ情報</h3>
<table width="100%" id="meta_info_table">
<tr id="keyword_tr">
  <th width="200" id="keyword_th">Keywords</th>
  <td id="keyword_td"><input type="text" name="keywords" value="{$formData.keywords}" size="100" /></td>
</tr>
<tr id="description_tr">
  <th id="description_th">Description</th>
  <td id="description_td"><input type="text" name="description" value="{$formData.description}" size="100" /></td>
</tr>
</table><!--Keyword, descriotionの設定ここまで-->

{/if}{* $docmeta.is_primary No3 *}

<div class="clear"></div>

    {editActionBox docmeta=$docmeta}{/editActionBox}

</form>
</div>

</div><!--//list_main-->

<script type="text/javascript">
<!--
var member_list = new Pager("member_list", {$smarty.foreach.member_nm.total|default:'0'}, 10, 2);
var member_unit = "{'/modules/blog/label/member_unit'|translate}";{* 人 *}
var page_unit = "{'/modules/blog/label/page_unit'|translate}";{* ページ *}
{literal}
member_list.speed = 0;
member_list.onChangePage = function() {
    //ボタンのonoffとか操作する。
    var cu = this.getCurrentPageNo();
    var fi = document.getElementById("page_nav_first2");
    var pr = document.getElementById("page_nav_prev2");
    var ne = document.getElementById("page_nav_next2");
    var la = document.getElementById("page_nav_last2");
    var nv = document.getElementById("nav_info2");
    fi.disabled = (cu == this.getFirstPageNo());
    pr.disabled = (cu == this.getFirstPageNo());
    ne.disabled = (cu == this.getLastPageNo());
    la.disabled = (cu == this.getLastPageNo());
    nv.innerHTML = this.getRowCount() + member_unit + "  " + cu + "/" + this.getLastPageNo() + page_unit ;
}
member_list.initView(1);

function themeInput(blog_id, theme_id) {
    //var url = '/js/themeInput.php?blog_id='+blog_id+'&list=1';
    var url = '/direct/blog/theme_edit/blog_id='+blog_id+'&list=1';
    if (theme_id != "") {
        url += '&theme_id=' + theme_id;
    }
    window.open(url, '', 'width=400,height=250,scrollbars=1,resizable=yes');
}

Event.observe(window, 'load', function() {
    // 送信時に並び順を設定する
    Event.observe($('blog_edit'), 'submit', function() {
        if (document.blog_edit.MODE.value == 'UPDATE') {
            var rows = $('item_list_content').rows;
            var buf = [];
            for (var i = 0 ; i < rows.length ; i++) {
                buf.push(rows[i].id.substring('order'.length));
            }
            $('theme_order').value = buf.join(",");
        }
    });
});

function confirmDelete(f) {
    // ブログ記事も同時に削除されます。このブログを削除してもよろしいですか
    if (confirm('{/literal}{'/modules/blog/msg/confirm_del_blog'|translate}{literal}')) {
        f.MODE.value='DELETE';
        f.submit();
    }
}
function updateUpMail(f) {
    f.MODE.value='UP_MAIL';
    f.submit();
}
function sendToPermit(f) {
    f.MODE.value='SEND_TO_PERMIT';
    f.submit();
}
function deleteUpMail(f) {
    f.MODE.value='DEL_MAIL';
    f.submit();
}
function changeReceiveType(){

    if (document.blog_edit.receive_type0.checked) {
    // 指定されたグループのみ
        display('site_mail_group_list', '');
        display('site_mail_member_list', 'none');
    }
    else if (document.blog_edit.receive_type1.checked) {
    // メンバーであれば誰でもOK
        display('site_mail_group_list', 'none');
        display('site_mail_member_list', 'none');
    }
    else if (document.blog_edit.receive_type2.checked) {
    // 誰でもOK
        display('site_mail_group_list', 'none');
        display('site_mail_member_list', '');
    }
    else if (document.blog_edit.receive_type3.checked) {
    // このブログの記者のみ
        display('site_mail_group_list', 'none');
        display('site_mail_member_list', 'none');
    }

}

-->
</script>

{/literal}

{rcms_include file="management/footer.html"}
