{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}
{head_include file="common/calendar_scripts.html"}
{literal}
<script type="text/javascript">
Event.observe(window, 'load', function() {
    DUI.calendar.PopupWindow({title:"日付", textId: 'from_dt', btnId: 'from_dt-btn', boxId: 'from_dt-pop', tableId: 'from_dt-table'});
    DUI.calendar.PopupWindow({title:"日付", textId: 'to_dt', btnId: 'to_dt-btn', boxId: 'to_dt-pop', tableId: 'to_dt-table'});
});
function confirmDelete(f) {
   if(confirm('選択された楽曲を削除します。')) {
       f.MODE.value = 'DELETE';
       f.submit();
   }
}
</script>
{/literal}
<script src="/js/swfobject.js" type="text/javascript"></script>

<div class="list_right_bt">
<h2>{$module_nm}</h2>
<ul>
{if $auth.music.insert}
<li class="add"><a href="/management/music/music_edit/"><span>楽曲追加</span></a></li>
{/if}
<li class="view"><a href="{$smarty.const.ROOT_URL}/music_list/" target="_blank"><span>{'/label/view_page'|translate}</span></a></li>
</ul>
</div>
{pankuzu}
<a href="/management/menu/contents/">コンテンツ管理</a>
<a href="/management/music/music_list/">{$module_nm}</a>
{$module_nm}一覧
{/pankuzu}
<p class="page_info">
<a href="/management/accesscount/accesscount_list/">一覧へのアクセス数：{$access_cnt}pv</a>
</p>
<div class="clear"></div>

<div class="main_contents">
<div class="list_main">

{rcms_include file="management/messages_box.html" messages=$messages}
{rcms_include file="management/errors_box.html" errors=$errors}

  <form action="/management/music/music_list/">
    <fieldset class="search_box">
      楽曲名称<input type="text" name="music_name" value="{$music_name|escape}" />
      期間
      <input type="text" name="from_dt" id="from_dt" value="{$from_dt|escape}" autocomplete="off" />
      <button type="button" id="from_dt-btn"><img src="{'/images/management/calendar_week.png'|lang_img_path}"></button>
      <div class="pop_calendar" id="from_dt-pop"></div>
      から
      <input type="text" name="to_dt" id="to_dt" value="{$to_dt|escape}" autocomplete="off" />
      <button type="button" id="to_dt-btn"><img src="{'/images/management/calendar_week.png'|lang_img_path}"></button>
      <div class="pop_calendar" id="to_dt-pop"></div>
      <input type="submit" value="検索する" />
    </fieldset>
  </form>

  <form method="POST" action="/management/music/music_list/">
    <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
    <input type="hidden" name="MODE" value="" />

    {pager info=$pageInfo}
    <table width="100%" border="0" cellspacing="2" cellpadding="0">
      <tr>
        {if $auth.music.update || $auth.music.delete}
          <th scope="col"><input type="checkbox" onclick="AllChecked(this.checked、this.form, 'music_id[]')" /></th>
        {/if}
        <th>公開</th>
        <th>楽曲名</th>
        <th>試聴</th>
        <th>日付</th>
        <th>PV</th>
        <th>最終更新日時</th>
      </tr>
     {foreach from=$music_list item=music}
      <tr>
        {if $auth.music.update || $auth.music.delete}
          <td><input type="checkbox" name="music_id[]" value="{$music.music_id}" /></td>
        {/if}
        <td>{$music.open_flg|rcms_publicimg}</td>
        <td>
          <a href="/management/music/music_edit/music_id={$music.music_id}&pageID={$currentPageID}">{$music.music_name}</a>
        </td>
        <td>
          <span id="controller{$music.music_id}"></span>
        </td>
        <td>
          {$music.ymd_str}
        </td>
        <td>
          {$music.access_cnt}pv
        </td>
        <td>
          {$music.update_ymdhi|pg_dateformat:"%Y/%m/%d(%%w%%) %H:%M:%S"}
        </td>
      </tr>
      {/foreach}
    </table>
    {pager info=$pageInfo}

<script type="text/javascript"> 
<!--
     {foreach from=$music_list item=music}
{if $music.music_url}
   var so = new SWFObject("/js/player_mp3/player_mp3_maxi.swf", "player_mp3_swf", "25", 
"20",8,"#ffffff");
   so.addParam("wmode", "transparent");
   so.addParam("FlashVars", "mp3="+escape("{$music.music_url}")+"&amp;showslider=0&amp;width=25");
   so.write("controller{$music.music_id}");
                {/if}
{/foreach}

//-->
</script> 

    {if $auth.music.update || $auth.music.delete}
      {buttonbox}
        <p>選択した楽曲を一括で</p>
        {if $auth.music.update}
          <button type="submit" onclick="this.form.MODE.value='PUBLIC'">公開にする</button>
          <button type="submit" onclick="this.form.MODE.value='PRIVATE'">非公開にする</button>
        {/if}
        {if $auth.music.delete}
          <button type="button" onclick="confirmDelete(this.form)">削除する</button>
        {/if}
      {/buttonbox}
    {/if}

  </form>
</div>
</div>
{rcms_include file="management/footer.html"}
