{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}
{literal}
<script type="text/javascript">
</script>
{/literal}


<div class="list_right_bt">
<h2>Docomo課金履歴詳細</h2>
<ul>
</ul>
</div>

{pankuzu}
{rcms_include file="charge/admin/pankuzu.html"}
<a href="/management/charge/charge_docomo_list/">Docomo課金</a>
<a href="/management/charge/charge_history_docomo_list/charge_docomo_id={$charge_docomo_id}">Docomo課金履歴一覧</a>
課金履歴詳細
{/pankuzu}
<div class="clear"></div>

<div class="main_contents">

{rcms_include file="charge/admin/minitabs.html" page_type='docomo'}

<div class="list_main">
  {rcms_include file="management/messages_box.html" messages=$messages}
  {rcms_include file="management/errors_box.html" errors=$errors}
  <form action="/management/charge/charge_history_docomo_edit/" method="post">
    <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
    <input type="hidden" name="MODE" value="" />

    <table width="100%">
      <tr>
        <th style="width: 150px">課金履歴ID</th>
        <td>{$chargeHistoryInfo.charge_history_docomo_id}</td>
      </tr>
      <tr>
        <th>uid</th>
        <td>{$chargeHistoryInfo.uid}</td>
      </tr>
      <tr>
        <th>購入者</th>
        <td>
          {if $chargeHistoryInfo.member_id}<a target="_blank" href="/management/member/member_edit/member_id={$chargeHistoryInfo.member_id}">{$chargeHistoryInfo.member_id}:{$chargeHistoryInfo.member_name|escape}</a>{/if}
        </td>
      </tr>
      <tr>
        <th>登録日</th>
        <td>{$chargeHistoryInfo.start_date|pg_dateformat:"%Y/%m/%d(%%w%%)"}</td>
      </tr>
      <tr>
        <th>解約日</th>
        <td>{$chargeHistoryInfo.end_date|pg_dateformat:"%Y/%m/%d(%%w%%)"}</td>
      </tr>
    </table>
  </form>
</div>
</div>

{rcms_include file="management/footer.html"}
