{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}
{head_include file="common/calendar_scripts.html"}
{literal}
<script type="text/javascript">
</script>
{/literal}


<div class="list_right_bt">
<h2>J-Payment課金</h2>
<ul>
  {if $auth.charge.insert}
  <li class="add"><a href="/management/charge/charge_jpayment_edit/"><span>追加</span></a></li>
  {/if}
</ul>
</div>

{pankuzu}
{rcms_include file="charge/admin/pankuzu.html"}
<a href="/management/charge/charge_jpayment_list/">J-Payment課金一覧</a>
<a href="/management/charge/charge_jpayment_edit/">J-Payment課金編集</a>
{/pankuzu}
<div class="clear"></div>

<div class="main_contents">

{rcms_include file="charge/admin/minitabs.html" page_type="jpayment"}

<div class="list_main">
  {rcms_include file="management/messages_box.html" messages=$messages}
  {rcms_include file="management/errors_box.html" errors=$errors}



  <form action="/management/charge/charge_jpayment_edit/" method="post" name="charge_edit" id="charge_edit">
    <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
    <input type="hidden" name="MODE" value="" />
    {if $formData.charge_jpayment_id != ""}
      <input type="hidden" name="charge_jpayment_id" value="{$formData.charge_jpayment_id}" />
    {/if}

    <table width="100%">
      <tr>
        <th>課金方法</th>
        <td>
          J-Payment
        </td>
      </tr>
      <tr>
        <th>ID</th>
        <td>
          {if $formData.charge_jpayment_id != ""}{$formData.charge_jpayment_id}{else}新規作成{/if}
        </td>
      </tr>
      <tr>
        <th>名前</th>
        <td>
          <input size="80" name="name" type="text" value="{$formData.name|escape}" />
        </td>
      </tr>
      <tr>
        <th>期間(月)</th>
        <td>
          <input size="5" name="term" type="text" value="{$formData.term|escape}" />
        </td>
      </tr>
      <tr>
        <th>店舗ID</th>
        <td>
          <input size="30" name="jp_aid" type="text" value="{$formData.jp_aid|escape}" />
          <p class="hint">J-PAYMENTでの店舗ID</p>
        </td>
      </tr>
      <tr>
        <th>商品コード</th>
        <td>
          <input size="30" name="jp_iid" type="text" value="{$formData.jp_iid|escape}" />
          <p class="hint">J-PAYMENTの管理画面で設定した商品コード</p>
        </td>
      </tr>
      <tr>
        <th>メモ</th>
        <td>
          <textarea name="memo" rows="5" cols="80">{$formData.memo}</textarea>
        </td>
      </tr>
      <tr>
        <th>所属グループ</th>
        <td>
          <ul>
          {foreach from=$all_group_list item=item key=key}
            <li>
              <input type="checkbox" value="{$key}" name="group_id[]" id="group_id_{$key}" {if $key|in_array:$selected_group_list}checked="checked"{/if} />
              <label for="group_id_{$key}">{$item|escape}</label>
            </li>
          {/foreach}
          </ul>
        </td>
      </tr>
    </table>

    {editActionBox docmeta=$docmeta}{/editActionBox}

  </form>
</div>
</div>

{rcms_include file="management/footer.html"}
