
<ul class="minitabs">
  <li><a href="/management/charge/charge_sbps_list/" {if $page_type == 'sbps'}class="active"{/if}>SBPS</a></li>
  <li><a href="/management/charge/charge_jpayment_list/" {if $page_type == 'jpayment'}class="active"{/if}>J-Payment</a></li>
  <li><a href="/management/charge/charge_docomo_list/" {if $page_type == 'docomo'}class="active"{/if}>Docomo月額</a></li>
  <li><a href="/management/charge/charge_docomo_sp_list/" {if $page_type == 'docomo_sp'}class="active"{/if}>Docomo(SP)月額</a></li>
  <li><a href="/management/charge/charge_au_list/" {if $page_type == 'au'}class="active"{/if}>au月額</a></li>
  <li><a href="/management/charge/charge_softbank_list/" {if $page_type == 'softbank'}class="active"{/if}>Softbank月額</a></li>
  <li><a href="/management/charge/charge_download_list/" {if $page_type == 'download'}class="active"{/if}>携帯従量課金</a></li>
</ul>
<div class="clear"></div>
