{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}
<div class="list_right_bt">
  <h2>{'/label/update_history_list'|translate}</h2>
<ul>
<li class="view"><a href="/companyinfo_detail/id={$companyinfo_id}" target="_blank"><span>{'/label/view_page'|translate}</span></a></li>
</ul>
</div>
{pankuzu}
<a href="/management/menu/contents/">{'/label/menus/contents'|translate}</a>
<a href="/management/companyinfo/companyinfo_edit/">{$module_nm}</a>
<a href="/management/companyinfo/companyinfo_edit/">{'/modules/companyinfo/label/companyinfo_edit'|translate}</a>
{'/label/update_history_list'|translate}
{/pankuzu}
<div class="clear"></div>

<div class="main_contents">

{rcms_include file="management/history_table.html" list=$history_list link="/management/companyinfo/companyinfo_edit/company_id=$company_id" pageInfo=$pageInfo}

</div>
{rcms_include file="management/footer.html"}
