{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}
<script type="text/javascript">
{literal}
<!--
function confirmDelete(f) {
   // 選択された項目を削除します。\nよろしいですか？
   if (confirm('{/literal}{'/msg/confirm_del_selected_items'|translate}{literal}')) {
       f.MODE.value = 'DELETE';
       f.submit();
   }
}

// パラメータ生成
function generateParam() {
    var param = new Array();
    var cb = document.module_param_form.module_param_contents_type;
    if (cb.length) {
        for (var i = 0 ; i < cb.length ; i++) {
            if (cb[i].checked) {
                param.push('contents_type[]=' + cb[i].value);
            }
        }
    }
    else {
        if (cb.checked) {
            param.push('contents_type[]=' + cb.value);
        }
    }
    document.module_param_form.module_param.value = 'catalog_group_id={/literal}{$catalog_group_id}{literal}&'+param.join('&');
}
-->
{/literal}
</script>
<div class="list_right_bt">
<h2>{'/modules/catalog/label/catalog_category_list'|translate}{* カテゴリ一覧 *}</h2>
<ul>
{if $rauth->canInsert('/catalog/category')}
    <li class="add"><a href="/management/catalog/catalog_category_edit/{if $catalog_group_id}catalog_group_id={$catalog_group_id}{/if}"><span>{'/label/create_new_category_btn'|translate}{* カテゴリ追加 *}</span></a></li>
{/if}
</ul>
</div>

{pankuzu}
<a href="/management/menu/contents/">{'/label/menus/contents'|translate}</a>
<a href="/management/catalog/catalog_group_list/">{'/modules/catalog'|translate}</a>
<a href="/management/catalog/catalog_group_list/">{'/modules/catalog/label/catalog_group_list'|translate}</a>
{'/modules/catalog/label/catalog_category_list'|translate}
{/pankuzu}
{* 【ぱんくず】コンテンツ更新 >> カタログ >> グループ一覧 >> カテゴリ一覧 *}

<div class="clear"></div>

<div class="main_contents">
<h3 class="title">{$catalog_group_nm}</h3>

{rcms_include file="$mt/admin/minitabs.html" page_type=$ct auth=$auth}

<div class="list_main">

{rcms_include file="management/messages_box.html" messages=$messages}
{rcms_include file="management/errors_box.html" errors=$errors}
{rcms_include file="common/admin/shonin_list.html"}{* 承認待ち一覧 *}

  <form method="POST" action="/management/catalog/catalog_category_list/">
    <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
    <input type="hidden" name="MODE" />
    <input type="hidden" name="act" />
    <input type="hidden" name="catalog_group_id" value="{$catalog_group_id}" />

    <p class="page_links">{$page_links}</p>
    <table width="100%" border="0" cellspacing="2" cellpadding="0">
      <tr>
        <th scope="col" style="width:20px;"><input type="checkbox" name="select_all_list" value="1" onClick="AllChecked(this.checked, this.form, 'catalog_category_id[]');"></th>
        <th scope="col" width="26">{'/label/publish'|translate}{* 公開 *}</th>
        <th scope="col" style="width:30px;">ID</th>
        <th scope="col">{'/label/category'|translate}{* カテゴリ *}</th>
        <th scope="col">{'/label/memo'|translate}{* メモ *}</th>
        <th scope="col" style="width:30px;">{'/label/sort'|translate}{* 並び順 *}</th>
      </tr>
    {foreach from=$catalog_category_list item=row name=catalog_category_list}
      {assign var=catalog_category_id value=$row.catalog_category_id}
      {if $row.catalog_category_id ne 0}
      <tr>
        <td><input type="checkbox" name="catalog_category_id[]" value="{$row.catalog_category_id}" {if !$rauth->canDelete("/catalog/category/$catalog_category_id") && !$rauth->canUpdate("/catalog/category/$catalog_category_id")}disabled="disabled"{/if} /></td>
        <td>{$row.open_flg|rcms_publicimg}</td>
        <td>{$row.catalog_category_id}</td>
        <td {if $row.parent_id != 0}class="child"{/if}><a href="/management/catalog/catalog_category_edit/catalog_category_id={$row.catalog_category_id}&catalog_group_id={$catalog_group_id}">{$row.category_nm}</a>

            {rcms_include file="common/admin/language_status.html" meta=$docmetas[$catalog_category_id] link="/management/catalog/catalog_category_edit/catalog_category_id=$catalog_category_id&catalog_group_id=$catalog_group_id"}{* 多言語入力状況 *}

        </td>
        <td>{$row.memo|escape|nl2br}</td>
        <td>
        {if $rauth->canUpdate("/catalog/category/$catalog_category_id")}
        <input type="text" name="category_weight[{$row.catalog_category_id}]" value="{$row.category_weight}" size="4">
        {else}
        {$row.category_weight}
        {/if}
        </td>
      </tr>
      {/if}
    {/foreach}
    </table>
    <p class="page_links">{$page_links}</p>

{if $smarty.foreach.catalog_category_list.total > 0}
    {buttonbox}
      <p>{'/label/withselected'|translate}</p>{* 選択した項目を一括で *}
        <button type="submit" onclick="this.form.MODE.value='PUBLIC'">{'/label/publish_btn'|translate}{* 公開にする *}</button>
        <button type="submit" onclick="this.form.MODE.value='PRIVATE'">{'/label/unpublish_btn'|translate}{* 非公開にする *}</button>
        <button type="button" onclick="confirmDelete(this.form)">{'/label/delete_btn'|translate}{* 削除する *}</button>
        <button type="submit" onclick="this.form.MODE.value='CHANGE_ORDER'">{'/label/update_sort_order'|translate}{* 並び順を更新する *}</button>
    {/buttonbox}
{/if}

  </form>

  <div style="margin-top:20px">
    <a href="javascript:;" onclick="display('generate_param_box');return false;">&gt;&gt;{'/modules/catalog/msg/when_display_only_specified_categories'|translate}{* カテゴリを指定してサイト表示したい場合はこちら *}
    <div id="generate_param_box" style="display:none">
      <p>
        {* カテゴリを指定して[グループ名]一覧をサイト表示することができます。・・・（省略） *}
        {'/modules/catalog/msg/about_parameters_explain'|translate:$catalog_group_nm}
      </p>
      <form name="module_param_form">
      <ul>
      {foreach from=$catalog_category_list item=row}
        <li><input type="checkbox" name="module_param_contents_type" id="module_param_contents_type{$row.catalog_category_id}" value="{$row.catalog_category_id}" /><label for="module_param_contents_type{$row.catalog_category_id}">{$row.category_nm}</label></li>
      {/foreach}
      </ul>
      <input type="button" onclick="generateParam()" value="{'/label/generate_parameter_btn'|translate}{* パラメータ生成 *}" /><br />
      <input type="text" size="80" name="module_param" id="module_param" />
      </form>
    </div>
  </div>
</div>
</div>

{literal}

<style>
td.child a{
  margin-left: 10px;
  padding-left: 5px;
  border-left: 1px dotted #000;
}
#generate_param_box {
  margin-top:5px;
  padding:10px 10px 10px 10px;
  border: 1px solid #999;
}
#generate_param_box p {
  margin-bottom:10px;
  line-height: 1.25em;
}
</style>
{/literal}

{rcms_include file="management/footer.html"}
