{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}
<script type="text/javascript">
{literal}
<!--
function updateLayout(f) {
        var child = document.getElementsByClassName('layer_box',$('moving_area'));
        var parm = '';
        for (var i=0, L=child.length; i<L; i++) {
            parm += child[i].id+':';
        }
       f.parm.value = parm;
       f.MODE.value = 'UPDATE';
       f.submit();
}

Event.observe(window, 'load', function() {
    Sortable.create("moving_area",
        {
            tag:'div',
            overlap:'horizontal',
            dropOnEmpty:false,
            hoverclass:null,
            handle:'top_handle',
            scroll:window,
            constraint:false
        }
    );
});

-->
{/literal}
</script>
<style>
.layer_box{ldelim}
    height:150px;
    float:left;
    background-color:#FFCC66;
    margin:3px;
    padding:5px;
    position:relative;
    cursor:move;
{rdelim}

</style>

<div class="list_right_bt">
<h2>{if $catalog_group_nm != ""}{'/modules/catalog/label/group_nm_list'|translate:$catalog_group_nm}{* [グループ名]一覧 *}{else}{'/modules/catalog/label/catalog_list'|translate}{* カタログ一覧 *}{/if}</h2>
<ul>
{if $rauth->canInsert("/catalog/item/[@catalog_group_id=$catalog_group_id]")}
    <li class="add"><a href="/management/catalog/catalog_edit/catalog_group_id={$catalog_group_id}"><span>{'/modules/catalog/label/create_new_catalog'|translate:$catalog_group_nm}{* [グループ名]追加 *}</span></a></li>
{/if}
<li class="view"><a href="{$smarty.const.ROOT_URL}/catalog_list{if $catalog_group_id}{$catalog_group_id}{/if}/" target="_blank"><span>{'/label/view_page'|translate}</span></a></li>
</ul>
</div>

{pankuzu}
<a href="/management/menu/contents/">{'/label/menus/contents'|translate}</a>
<a href="/management/catalog/catalog_group_list/">{'/modules/catalog'|translate}</a>
<a href="/management/catalog/catalog_group_list/">{'/modules/catalog/label/catalog_group_list'|translate}</a>
{'/modules/catalog/label/group_nm_arrange'|translate:$catalog_group_nm}{* [グループ名]配置 *}
{/pankuzu}
{* 【ぱんくず】コンテンツ更新 >> カタログ >> グループ一覧 >> [グループ名]配置 *}

<p class="page_info"><a href="/management/accesscount/accesscount_list/">{'/label/list_view'|translate}{* 一覧へのアクセス数 *}：{$access_cnt}pv</a></p>
<div class="clear"></div>

<div class="main_contents">

{$catalog_group_nm}<br>

{rcms_include file="$mt/admin/minitabs.html" page_type=$ct auth=$auth}

<div class="list_main">
{rcms_include file="management/messages_box.html" messages=$messages}
{rcms_include file="management/errors_box.html" errors=$errors}
  <form name="catalog_list_form" method="POST" action="/management/catalog/catalog_place/">
    <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
    <input type="hidden" name="parm" />
    <input type="hidden" name="MODE">
    <input type="hidden" name="catalog_group_id" value="{$catalog_group_id}" />

    <div id="moving_area" style="padding:5px;border:solid #000000 1px;">
  {pager info=$pageInfo}
  {foreach from=$catalog_list item=row key=i}
      {if $row.catalog_id}
          <div id="catalog{$row.catalog_id}" class="layer_box" style="width:{$row.width}px;">
            <a href="/management/catalog/catalog_edit/catalog_id={$row.catalog_id}">{$row.subject}</a><br>
            {$row.contents_type}<br>
            {$row.update_ymdhi|pg_dateformat}<br>
          </div>
      {else}
          <div id="blank{$i}" class="layer_box" style="width:{$row.width}px;">
            blank<br>
          </div>
      {/if}
  {/foreach}
  {pager info=$pageInfo}
    <div class="clearFloat"></div>
    </div>
    {buttonbox}
        {if $rauth->canUpdate("/catalog/group/$catalog_group_id")}
            <button type="submit" onclick="updateLayout(this.form);">{'/label/update_btn'|translate}</button>{* 更新する *}
        {/if}
    {/buttonbox}

</div>
</div>

{rcms_include file="management/footer.html"}
