<ul class="minitabs">
    <li id="minitab_comment_list"><a href="/management/comment/comment_list/" {if $page_type=="comment_list" || $page_type=="comment_contents_list" || $page_type=="comment_edit"}class="active"{/if}>{'/label/comments'|translate}</a></li>
    <li id="minitab_comment_module_list"><a href="/management/comment/comment_module_list/" {if $page_type=="comment_module_list" || $page_type=="comment_module_edit"}class="active"{/if}>{'/modules/comment/label/comment_module_edit'|translate}</a></li>
</ul>
