
<ul class="minitabs">
    <li><a href="/management/storage/storage_list/" {if $page_type eq 'storage_list'}class="active"{/if}>設定</a></li>
    <li><a href="/management/storage/storage_ftp/" {if $page_type eq 'storage_ftp'}class="active"{/if}>FTP設定</a></li>
    <li><a href="/management/storage/storage_network/" {if $page_type eq 'storage_network'}class="active"{/if}>ネットワーク設定</a></li>
    <!--<li><a href="/management/storage/storage_ftp_backup/" {if $page_type eq 'storage_ftp_backup'}class="active"{/if}>バックアップ転送</a></li>-->
    <!--<li><a href="/management/storage/storage_ftp_log/" {if $page_type eq 'storage_ftp_log'}class="active"{/if}>アクセスログ転送</a></li>-->
</ul>
<div class="clear"></div>
