{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}

<div class="list_right_bt">
<h2>{$module_nm}</h2>
</div>

{pankuzu}

<a href="/management/menu/setup/">{'/label/menus/setup'|translate}</a>
<a href="/management/storage/storage_list/">{'/modules/storage'|translate}</a>
{/pankuzu}
<div class="clear"></div>
{rcms_include file="$mt/admin/minitabs.html" page_type=$ct auth=$auth}

<div class="main_contents">
<div class="list_main">
{rcms_include file="management/messages_box.html" messages=$messages}
{rcms_include file="management/errors_box.html" errors=$errors}

<h3>外部ストレージ</h3>
<p>RCMSではないサーバと連携する為の機能です。</p>
【FTP設定】<br>
レンタルサーバなどにアップしてあるファイルをFTPで取り込む為の機能です。<br>
RCMSはセキュリティの為、直接、FTPでのファイルのアップは許可していません。<br>
<br>
【ネットワーク設定】<br>
レンタルサーバなどにある/-/というフォルダ以下を仮想的にRCMSで作られたサイトの配下に置くことができます。<br>

</div>
</div>
<br>

{rcms_include file="management/footer.html"}
