{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}
<style type="text/css">
{literal}
p.progressBar {margin-top:3px;margin-bottom:0;text-align:right;}
p.progressBar span {margin-right: 5px;}
p.progressBar img {height:10px;margin:0;padding:0;}
p.progressBar img.s1{background-color: #f00;} /*未処理*/
p.progressBar img.s2{background-color: #ff0;} /*処理中*/
p.progressBar img.s3{background-color: #0ff;} /*処理済*/
p.progressBar img.s4{background-color: #ccc;} /*保留*/
{/literal}
</style>
<script type="text/javascript">
{literal}
function confirmDelete(f) {
    // 選択された項目を削除します。\nよろしいですか？
    if (confirm('{/literal}{'/msg/confirm_del_selected_items'|translate}{literal}')) {
        var a = f.MODE.value;
        f.MODE.value = "DELETE";
        f.submit();
        f.MODE.value = a;
    }
}
{/literal}
</script>

<div class="list_right_bt">
<h2>{'/modules/tasklist/label/tasklist_list'|translate}{* 課題管理一覧 *}</h2>
<ul>
{if $rauth->canInsert('/tasklist/item/')}
  <li class="add"><a href="/management/tasklist/tasklist_edit/"><span>{'/modules/tasklist/label/create_new_task_btn'|translate}{* 課題追加 *}</span></a></li>
{/if}
<li class="view"><a href="{$smarty.const.ROOT_URL}/tasklist_list/" target="_blank"><span>{'/label/view_page'|translate}</span></a></li>
</ul>
</div>

{pankuzu}
<a href="/management/menu/communication/">{'/label/menus/communication'|translate}</a>
<a href="/management/tasklist/tasklist_list/">{'/modules/tasklist'|translate}</a>
{'/modules/tasklist/label/tasklist_list'|translate}
{/pankuzu}
{* 【ぱんくず】コミュニケーション >> 課題管理 >> 課題管理一覧 *}

<div class="clear"></div>

<div class="main_contents">
<div class="list_main">
{rcms_include file="management/messages_box.html" messages=$messages}
{rcms_include file="management/errors_box.html" errors=$errors}
{rcms_include file="common/admin/shonin_list.html"}{* 承認待ち一覧 *}

  <form action="/management/tasklist/tasklist_list/">
    <div class="search_box">
      {'/label/title'|translate}{* タイトル *}:<input type="text" name="cate_title" size="20" value="{$cate_title|escape}" />
      {'/label/content'|translate}{* 内容 *}:<input type="text" name="bug_explanation" size="20" value="{$bug_explanation|escape}" />
      {'/label/representative'|translate}{* 担当者 *}:<input type="text" name="member_name" size="20" value="{$member_name|escape}" /><br />
      <select name="category">{html_options options=$arrcategory selected=$category}</select>
      <select name="serious_flg">{html_options options=$arrserious_flg selected=$serious_flg}</select>
      <select name="priority_flg">{html_options options=$arrpriority_flg selected=$priority_flg}</select>
      <select name="syori_flg">{html_options options=$arrsyori_flg selected=$syori_flg}</select>
      <input type="submit" value="{'/label/search_btn'|translate}{* 検索する *}">
    </div>
  </form>

    <p class="progressBar">
{strip}
      <span>{'/modules/tasklist/label/task_count'|translate}{* 対応件数 *}({$statusSummary.3.cnt}/{$statusSummary.total.cnt})</span>
      <img class="s3" src="/images/management/spacer.gif" style="width:{$statusSummary.3.per*3}px;" title="{'/modules/tasklist/label/done'|translate}{*処理済*}:{$statusSummary.3.cnt}"/>
      <img class="s2" src="/images/management/spacer.gif" style="width:{$statusSummary.2.per*3}px;" title="{'/modules/tasklist/label/doing'|translate}{*処理中*}:{$statusSummary.2.cnt}"/>
      <img class="s4" src="/images/management/spacer.gif" style="width:{$statusSummary.4.per*3}px;" title="{'/modules/tasklist/label/pending'|translate}{*保留*}:{$statusSummary.4.cnt}"/>
      <img class="s1" src="/images/management/spacer.gif" style="width:{$statusSummary.1.per*3}px;" title="{'/modules/tasklist/label/not_done'|translate}{*未処理*}:{$statusSummary.1.cnt}"/>
{/strip}
    </p>

  <form method="POST" action="/management/tasklist/tasklist_list/">
    <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
    <input type="hidden" name="MODE" value="" />
    <input type="hidden" name="id" value="" />
    <input type="update_syori_flg" name="update_syori_flg" value="" />


    {* 検索条件 *}
    <input type="hidden" name="cate_title" value="{$cate_title|escape}" />
    <input type="hidden" name="bug_explanation" value="{$bug_explanation|escape}" />
    <input type="hidden" name="member_name" value="{$member_name|escape}" />
    <input type="hidden" name="category" value="{$category|escape}" />
    <input type="hidden" name="serious_flg" value="{$serious_flg|escape}" />
    <input type="hidden" name="priority_flg" value="{$priority_flg|escape}" />
    <input type="hidden" name="syori_flg" value="{$syori_flg|escape}" />

    {pager info=$pageInfo}
    <table width="100%" border="0" cellspacing="2" cellpadding="0" class="tasklist_list">
      <tr>
        <th><input type="checkbox" onclick="AllChecked(this.checked, this.form, 'tasklist_id[]')" /></th>
        <th>{'/modules/tasklist/label/task_id'|translate}{* 課題ID *}</th>
        <th>{'/label/title'|translate|sort_link:cate_title:$sort_url:$sort:$desc}{* タイトル *}</th>
        <th>{'/label/content'|translate|sort_link:bug_explanation:$sort_url:$sort:$desc}{* 内容 *}</th>
        <th>{'/label/representative'|translate|sort_link:member_name:$sort_url:$sort:$desc}{* 担当者 *}</th>
        <th>{'/label/inscriber'|translate|sort_link:insert_nm:$sort_url:$sort:$desc}{* 記入者 *}</th>
        <th>{'/label/category'|translate|sort_link:category:$sort_url:$sort:$desc}{* カテゴリ *}</th>
        <th>{'/modules/tasklist/label/replys'|translate|sort_link:cnt:$sort_url:$sort:$desc}{* 返信 *}</th>
        <th>{'/label/deadline'|translate|sort_link:limit_date:$sort_url:$sort:$desc}{* 期限 *}</th>
        <th>{'/label/importance'|translate|sort_link:serious_flg:$sort_url:$sort:$desc}{* 重要度 *}</th>
        <th>{'/label/priority'|translate|sort_link:priority_flg:$sort_url:$sort:$desc}{* 優先度 *}</th>
        <th>{'/label/status'|translate|sort_link:syori_flg:$sort_url:$sort:$desc}{* 状況 *}</th>
      </tr>
    {foreach from=$tasklist_list item=row}
    {assign var=tasklist_id value=$row.tasklist_id}
      <tr>
        <td><input type="checkbox" name="tasklist_id[]" value="{$row.tasklist_id}" {if !$rauth->canDelete("/tasklist/item/$tasklist_id") && !$rauth->canUpdate("/tasklist/item/$tasklist_id")}disabled="disabled"{/if} /></td>
        <td>{$row.tasklist_id}</td>
        <td>
            <a href="/management/tasklist/tasklist_edit/tasklist_id={$row.tasklist_id}">{$row.cate_title|escape}</a>
            {rcms_include file="common/admin/language_status.html" meta=$docmetas[$tasklist_id] link="/management/tasklist/tasklist_edit/tasklist_id=$tasklist_id"}
        </td>
        <td>{$row.bug_explanation|mbtruncate:100:"   ...":false}</td>
        <td>{$row.member_name|escape}</td>
        <td>{$row.insert_nm|escape}</td>
        <td>{$row.category_txt|escape}</td>
        <td>{$row.cnt}{'/label/items'|translate}{* 件 *}</td>
        <td {if $row.deadline}class="deadline"{/if}>{$row.limit_date|pg_dateformat:'%Y/%m/%d'}</td>
        <td class="serious{$row.serious_flg}">{$row.serious_flg_txt}</td>
        <td class="priority{$row.priority_flg}">{$row.priority_flg_txt}</td>
        <td>
          {if $row.syori_flg eq $smarty.const.TASKLIST_SYORI_DONE}
            <img src="/images/management/ok.gif" title="{'/modules/tasklist/label/done'|translate}{*処理済*}" border="0" />
          {elseif $row.syori_flg eq $smarty.const.TASKLIST_SYORI_NOTDONE}
            <img src="/images/management/intact.gif" title="{'/modules/tasklist/label/not_done'|translate}{*未処理*}" border="0" />
          {elseif $row.syori_flg eq $smarty.const.TASKLIST_SYORI_DOING}
            <img src="/images/management/work.gif" title="{'/modules/tasklist/label/doing'|translate}{*処理中*}" border="0" />
          {elseif $row.syori_flg eq $smarty.const.TASKLIST_SYORI_PENDING}
            {'/modules/tasklist/label/pending'|translate}{*保留*}
          {/if}
        </td>
      </tr>
    {/foreach}
    </table>
    {pager info=$pageInfo}

    {buttonbox}
        <p>{'/label/withselected'|translate}</p>{* 選択した項目を一括で *}
        <button type="button" onclick="confirmDelete(this.form)">{'/label/delete_btn'|translate}{* 削除する *}</button>
        {foreach from=$arrsyori_flg key=key item=item}
        <button type="submit" onclick="this.form.update_syori_flg.value={$key};this.form.MODE.value='UPDATE_SYORI_FLG'">{'/modules/tasklist/label/update_status_btn'|translate:$item}{* ●●●に更新する *}</button>
        {/foreach}
    {/buttonbox}
  </form>

</div>
</div>
{rcms_include file="management/footer.html"}
