<p class="page_links">
  {strip}
  {if $pageInfo.totalCnt != 0}
    <span class="allCnt">{$pageInfo.totalCnt}件中</span><span class="range">{$pageInfo.firstIndex}-{$pageInfo.lastIndex}件目</span>
    {if $pageInfo.pageNo!=1}
      <a href="/management/?{$pageInfo.param}&pageID=1"  title="first page" class="first"><span>先頭</span></a>
      ｜<a href="/management/?{$pageInfo.param}&pageID={$pageInfo.pageNo-1}"  title="previous page" class="back"><span>前へ</span></a>
    {/if}
    {if $pageInfo.pageNo != 1 && $pageInfo.pageNo != $pageInfo.totalPageCnt}
      ｜
    {/if}
    {if $pageInfo.pageNo!=$pageInfo.totalPageCnt}
      <a href="/management/?{$pageInfo.param}&pageID={$pageInfo.pageNo+1}"  title="next page" class="next"><span>次へ</span></a>
      ｜<a href="/management/?{$pageInfo.param}&pageID={$pageInfo.totalPageCnt}"  title="last page" class="last"><span>最後</span></a>
    {/if}
  {else}
    該当するデータがありません。
  {/if}
  {/strip}
</p>
