{module name="game_top"}
<h2 class="module_title"><span>試合形式別一覧</span></h2>
<div class="module_contents">
      <table class="list">
        <tr align="center">
          <th>大会／試合形式</th>
          <th>最近の試合予定</th>
          <th>最新の試合結果</th>
        </tr>
{section name=mydata loop=$gameTopList}
        <tr valign="middle" align="center">
          <td>
              <a href="/leaguerugby_typelist/league_type={$smarty.section.mydata.index}">{$gameTopList[mydata].league_type}</a>
          </td>
{if $gameTopList[mydata].near_game.league_id == '' && $gameTopList[mydata].last_game.league_id == ''}
          <td colspan="2">試合の予定はありません</td>
{else}
          <td>
{if $gameTopList[mydata].near_game.league_id}
<a href="/leaguerugby_detail/id={$gameTopList[mydata].near_game.league_id}">
{$gameTopList[mydata].near_game.ymd}<br>
{$gameTopList[mydata].near_game.team_grade}
vs {$gameTopList[mydata].near_game.team_nm}<br>
{$gameTopList[mydata].near_game.place}
</a>
{/if}
          </td>
          <td>
{if $gameTopList[mydata].last_game.league_id}
<a href="/leaguerugby_detail/id={$gameTopList[mydata].last_game.league_id}">
{$gameTopList[mydata].last_game.ymd}<br>
{$gameTopList[mydata].last_game.team_grade}
{if $gameTopList[mydata].last_game.score_detail_arr.vs_result_self eq 'win'}
○
{elseif $gameTopList[mydata].last_game.score_detail_arr.vs_result_self eq 'lose'}
●
{elseif $gameTopList[mydata].last_game.score_detail_arr.vs_result_self eq 'even'}
△
{/if}
{$gameTopList[mydata].last_game.score_detail_arr.Self_Total}-
{$gameTopList[mydata].last_game.score_detail_arr.Opp_Total}
{if $gameTopList[mydata].last_game.score_detail_arr.vs_result_opp eq 'win'}
○
{elseif $gameTopList[mydata].last_game.score_detail_arr.vs_result_opp eq 'lose'}
●
{elseif $gameTopList[mydata].last_game.score_detail_arr.vs_result_opp eq 'even'}
△
{/if}
{$gameTopList[mydata].last_game.team_nm}
{$gameTopList[mydata].last_game.opponent_grade}<br>
{$gameTopList[mydata].last_game.place}
{/if}
</a>
          </td>
{/if}
        </tr>

{/section}
      </table>
      ※試合の予定が決まり次第、順次追加します。
</div>
{/module}
