{if $teamRelationList ne NULL || $opponentRelationList ne NULL}
{module name="game_opponent_relation"}
<h2 class="module_title"><span>対戦者情報</span></h2>
<div class="module_contents">
  {if $teamRelationList}
<h3>{$team_nm}</h3>
<table width="100%">
    {if $teamRelationList.location ne NULL}
  <tr><td>地図情報</td></tr>
{foreach from=$teamRelationList.location item=item}
  <tr><td><a href="/location_detail/id={$item.id}">{$item.location_nm}</a></td></tr>
{/foreach}
    {/if}
    {if $teamRelationList.link ne NULL}
  <tr><td>リンク情報</td></tr>
{foreach from=$teamRelationList.link item=item}
  <tr><td><a href="{$item.link_url}">{$item.link_string}</a></td></tr>
{/foreach}
    {/if}
</table>
  {/if}

  {if $opponentRelationList}
<h3>{$opponent_nm}</h3>
<table width="100%">
    {if $opponentRelationList.location ne NULL}
  <tr><td>地図情報</td></tr>
{foreach from=$opponentRelationList.location item=item}
  <tr><td><a href="/location_detail/id={$item.id}">{$item.location_nm}</a></td></tr>
{/foreach}
    {/if}
    {if $opponentRelationList.link ne NULL}
  <tr><td>リンク情報</td></tr>
{foreach from=$opponentRelationList.link item=item}
  <tr><td><a href="{$item.link_url}">{$item.link_string}</a></td></tr>
{/foreach}
    {/if}
</table>
  {/if}
</div>
{/module}
{/if}
