{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}

<div class="list_right_bt">
<h2 class="for_mng">{'/modules/mobile'|translate}{*モバイル設定*}</h2>
<ul>
<li class="add"><a href="javascript:void(0);" onClick="window.open('/wysiwyg/ckfinder/standalone.php', 'file_manager', 'width='+((screen.width-50)<1050?(screen.width-50):1050)+'px, height='+((screen.height-120)<600?(screen.height-120):600)+'px, menubar=no, toolbar=no, scrollbars=yes');return false;"><span>{'/modules/design/label/file_manager'|translate}{*ファイルマネージャ*}</span></a></li>
</ul>
</div>
{pankuzu}
<a href="/management/menu/design/">{'/label/menus/design'|translate}</a>
<a href="/management/mobile/mobile_setting/">{'/modules/mobile'|translate}</a>
{/pankuzu}
{* 【ぱんくず】デザイン >> モバイル設定  *}

<div class="clear"></div>

{rcms_include file="$mt/admin/minitabs.html" page_type=$ct auth=$auth}

<div class="main_contents">
<div class="list_main">
  <h3 class="for_mng">{'/modules/mobile/label/mobile_preview'|translate}{*モバイル版プレビュー*}</h3>
  <input type="button" value="{'/label/preview'|translate}{*プレビュー*}" onClick="window.open('/direct/mobile/preview/', 'mobile_preview', 'width=250, height=600, menubar=no, toolbar=no, scrollbars=yes');return false;" />
  <input type="button" value="{'/modules/mobile/label/smart_phone_preview'|translate}{*スマートフォン版プレビュー*}" onClick="window.open('/direct/mobile/preview/?smart_phone=1', 'mobile_preview', 'width=320, height=600, menubar=no, toolbar=no, scrollbars=yes');return false;" />
  <p>※{'/modules/mobile/msg/this_might_not_be_the_same_as_mobile_display'|translate}{*モバイルでの表示を確実に再現できるわけではありませんので、参考としてご利用ください。*}</p>

  <h3 class="for_mng">{'/label/setting_item'|translate}{*設定項目*}</h3>
  <a href="/management/mobile/setup/">{'/label/edit_setting_item'|translate}{*設定項目を編集する*}</a>
  <table style="width:100%;">
    {foreach item=conf from=$confList name=list}
      <tr>
        <th style="width:250px;">{$conf.disp_nm}</th>
        {if $conf.input_type == "COLOR"}
          <td><span style="color:{$conf.value};">■</span>{$conf.value|escape:"html"|nl2br}</td>
        {elseif $conf.sys_nm == "mobile_logo_url"}
          <td>{$conf.value|escape:"html"|nl2br}<br>{if $conf.value}<img src="{$conf.value}">{/if}</td>
        {else}
          <td>{$conf.value|escape:"html"|nl2br}</td>
        {/if}
      </tr>
    {/foreach}
  </table>
  <div class="hint">{'/modules/mobile/msg/adsense_help'|translate}</div>
  <br>

  <form method="POST" action="/management/mobile/mobile_setting/">
    <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
    <input type="hidden" name="MODE" value="" />
    <input type="hidden" name="device_type" value="smartphone" />
    <h3 class="for_mng">{'/label/smart_phone'|translate}{if $customized_flg.smartphone} {'/label/customized'|translate}{*カスタマイズ済*}{/if}</h3>
    {if !$customized_flg.smartphone}
      {if $auth.headerfooter.update}
      <p style="text-align:center;padding-top:20px;">
        {'/msg/confirm_customize'|translate}
        {*このサイトは、デフォルトのページヘッダ・フッタを使用しています。<br />この機能はHTMLなどがわかる方向けの機能です。<br />
        独自のページ・フッタの作成を行いますか？<br /><br />*}
        <input type="submit" value="{'/label/customize'|translate}{*カスタマイズする*}" onclick="this.form.MODE.value='new'" />
      </p>
      {/if}
    {else}
      {*カスタマイズ済み*}
      <table width="100%">
      {foreach from=$headerfooterList.smartphone key=key item=item name=top_list_nm}
        <tr>
          <td nowrap width="20%">{$item.title}</td>
          <td nowrap><a href="/management/mobile/mobile_template_edit/device_type=smartphone&region_id={$key}">[{'/label/modify_btn'|translate}{*修正*}]</a></td>
          <td width="70%">{$item.comment}</td>
        </tr>
      {/foreach}
      </table>

    {if $auth.headerfooter.update}
      {buttonbox}
        <button type="button" onclick="confirmDelete(this.form)">{'/label/headerfooter/end_customaize_btn'|translate}</button>{*カスタマイズをやめる*}
      {/buttonbox}
        <span class="hint">{'/modules/headerfooter/msg/recommend_not_to_customize_header_and_footer'|translate}{*特に変更が必要ない場合はカスタマイズをしない状態にしておくことをお勧めいたします。*}</span>
    {/if}

    {/if}

  </form>

  <form method="POST" action="/management/mobile/mobile_setting/">
    <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
    <input type="hidden" name="MODE" value="" />
    <input type="hidden" name="device_type" value="mobile" />
    <h3 class="for_mng">{'/label/mobile'|translate}{if $customized_flg.mobile} {'/label/customized'|translate}{*カスタマイズ済*}{/if}</h3>

    {if !$customized_flg.mobile}
      {if $auth.headerfooter.update}
      <p style="text-align:center;padding-top:20px;">
        {'/msg/confirm_customize'|translate}
        {*このサイトは、デフォルトのページヘッダ・フッタを使用しています。<br />この機能はHTMLなどがわかる方向けの機能です。<br />
        独自のページ・フッタの作成を行いますか？<br /><br />*}
        <input type="submit" value="{'/label/customize'|translate}{*カスタマイズする*}" onclick="this.form.MODE.value='new'" />
      </p>
      {/if}
    {else}
      {*カスタマイズ済み*}
      <table width="100%">
      {foreach from=$headerfooterList.mobile key=key item=item name=top_list_nm}
        <tr>
          <td nowrap width="20%">{$item.title}</td>
          <td nowrap><a href="/management/mobile/mobile_template_edit/device_type=mobile&region_id={$key}">[{'/label/modify_btn'|translate}{*修正*}]</a></td>
          <td width="70%">{$item.comment}</td>
        </tr>
      {/foreach}
      </table>

    {if $auth.headerfooter.update}
      {buttonbox}
        <button type="button" onclick="confirmDelete(this.form)">{'/label/headerfooter/end_customaize_btn'|translate}</button>{*カスタマイズをやめる*}
      {/buttonbox}
<span class="hint">{'/modules/headerfooter/msg/recommend_not_to_customize_header_and_footer'|translate}{*特に変更が必要ない場合はカスタマイズをしない状態にしておくことをお勧めいたします。*}</span>

    {/if}

    {/if}

  </form>


  <form method="POST" action="/management/mobile/mobile_setting/">
    <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
    <input type="hidden" name="MODE" value="" />
    <input type="hidden" name="device_type" value="mobileapp" />
    <h3 class="for_mng">{'/label/mobileapp'|translate}{if $customized_flg.mobileapp} {'/label/customized'|translate}{*カスタマイズ済*}{/if}</h3>
    {if !$customized_flg.mobileapp}
      {if $auth.headerfooter.update}
      <p style="text-align:center;padding-top:20px;">
        {'/msg/confirm_customize'|translate}
        {*このサイトは、デフォルトのページヘッダ・フッタを使用しています。<br />この機能はHTMLなどがわかる方向けの機能です。<br />
        独自のページ・フッタの作成を行いますか？<br /><br />*}
        <input type="submit" value="{'/label/customize'|translate}{*カスタマイズする*}" onclick="this.form.MODE.value='new'" />
      </p>
      {/if}
    {else}
      {*カスタマイズ済み*}
      <table width="100%">
      {foreach from=$headerfooterList.mobileapp key=key item=item name=top_list_nm}
        <tr>
          <td nowrap width="20%">{$item.title}</td>
          <td nowrap><a href="/management/mobile/mobile_template_edit/device_type=mobileapp&region_id={$key}">[{'/label/modify_btn'|translate}{*修正*}]</a></td>
          <td width="70%">{$item.comment}</td>
        </tr>
      {/foreach}
      </table>

    {if $auth.headerfooter.update}
      {buttonbox}
        <button type="button" onclick="confirmDelete(this.form)">{'/label/headerfooter/end_customaize_btn'|translate}</button>{*カスタマイズをやめる*}
      {/buttonbox}
        <span class="hint">{'/modules/headerfooter/msg/recommend_not_to_customize_header_and_footer'|translate}{*特に変更が必要ない場合はカスタマイズをしない状態にしておくことをお勧めいたします。*}</span>
    {/if}

    {/if}

  </form>

</div>
</div>
{literal}
<script type="text/javascript">
<!--
function confirmDelete(f) {
    //選択されたカスタマイズヘッダーフッターを削除してもよろしいですか？
    if (confirm('{/literal}{'/msg/delete_customized_header_and_footer_confirm'|translate}{literal}')) {
    f.MODE.value = 'delete';
    f.submit();
  }
}

//-->
</script>
{/literal}


{rcms_include file="management/footer.html"}
