{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}

<script type="text/javascript">
<!--
{literal}
function confirmDelete(f) {
	// 削除してもよろしいですか？
	if (confirm('{/literal}{'/msg/confirm_del'|translate}{literal}')) {
        f.MODE.value='DELETE';
        f.submit();
    }
}
{/literal}
-->
</script>

<div class="list_right_bt">
<h2>{'/modules/bbs/label/bbs_category_edit'|translate}{*掲示板カテゴリ編集*}</h2>
<ul>
{if $auth.bbs.insert}
<li class="add"><a href="/management/bbs/bbs_category_edit/"><span>{'/label/add_category_btn'|translate}{*カテゴリ追加*}</span></a></li>
{/if}
</ul>
</div>

{pankuzu}
<a href="/management/menu/communication/">{'/label/menus/communication'|translate}</a>
<a href="/management/bbs/bbs_list/">{'/modules/bbs'|translate}</a>
<a href="/management/bbs/bbs_category_list/">{'/modules/bbs/label/bbs_category_list'|translate}</a>
{'/modules/bbs/label/bbs_category_edit'|translate}
{/pankuzu}
{* 【ぱんくず】コミュニケーション >> 掲示板 >> 掲示板カテゴリ一覧 >> 掲示板カテゴリ編集  *}

<div class="clear"></div>

<div class="main_contents">
{rcms_include file="$mt/admin/minitabs.html" page_type=$ct auth=$auth}
<h3 class="title">{if $categoryInfo.name}{$categoryInfo.name|escape}{else}{'/label/create_new'|translate}{*新規作成*}{/if}</h3>

<div class="list_main">
{rcms_include file="management/messages_box.html" messages=$messages}
{rcms_include file="management/errors_box.html" errors=$errors}

  <form action="/management/bbs/bbs_category_edit/" method="post">
    <input type="hidden" name="bbs_category_id" value="{$categoryInfo.bbs_category_id}" />
    <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
    <input type="hidden" name="MODE" value="UPDATE" />
    <input type="hidden" name="_doc_lang" value="{$docmeta.lang}" />

      <table width="100%">
        <tr>
          <th>{'/label/category_name'|translate}{*カテゴリ名*}</th>
          <td>
            <input type="text" name="name" size="30" maxlength="50" value="{$formData.name|escape}" />
            <span class="required">{'/label/required'|translate}{*必須*}</span><span class="hint2">{'/msg/less_than_letters'|translate:30}{* 30文字以内 *}</span>
          </td>
        </tr>
        <tr>
          <th>{'/label/explanation'|translate}{*説明*}</th>
          <td><textarea name="description" rows="5" cols="60">{$formData.description|escape}</textarea></td>
        </tr>
      </table>

    {buttonbox}
      {if $categoryInfo.bbs_category_id == "" && $auth.bbs.insert}
        <button type="submit" onclick="this.form.MODE.value='INSERT'">{'/label/add_btn'|translate}{* 新規作成する *}</button>
      {/if}
      {if $categoryInfo.bbs_category_id != "" && $auth.bbs.update}
        <button type="submit" onclick="this.form.MODE.value='UPDATE'">{'/label/update_btn'|translate}{* 更新する *}</button>
      {/if}
      {if $categoryInfo.bbs_category_id != "" && $auth.bbs.delete}
        <button type="button" onclick="confirmDelete(this.form)">{'/label/delete_btn'|translate}{* 削除する *}</button>
      {/if}
    {/buttonbox}

    <p class="hint" style="margin-top:5px">{'/modules/bbs/msg/for_delete_category'|translate}{*カテゴリを削除しても、掲示板は削除されません。カテゴリ無しに分類されます。*}</p>

  </form>
</div>
</div>
{rcms_include file="management/footer.html"}
