<div class="restaurant_menu menu01"> 
	<div class="sub_navi"> 
		<ul> 
{foreach from=$categoryL_list item=categoryL}
			<li class="navi{$categoryL.no|escape} {if $categoryL.this}this{/if}"><a href="/{$page_sysnm}/category_id={$categoryL.restaurant_menu_category_id|escape}">{$categoryL.category_nm|escape}</a></li> 
{/foreach}
		</ul> 
	</div> 
	<div class="menu_contents">

		<div class="l_category_photo">
			<ul>
			{if $menu.img1_s_url}
				<li><img alt="" src="{$menu.img1_s_url}" /></li>
			{/if}
			{if $menu.img2_s_url}
				<li><img alt="" src="{$menu.img2_s_url}" /></li> 
			{/if}
			</ul>
			<ul>
			{if $menu.img3_s_url}
					<li><img alt="" src="{$menu.img3_s_url}" /></li> 
			{/if}
			{if $menu.img4_s_url}
					<li><img alt="" src="{$menu.img4_s_url}" /></li> 
			{/if}
			{if $menu.img5_s_url}
					<li><img alt="" src="{$menu.img5_s_url}" /></li> 
			{/if}
			</ul>
		</div>

{foreach from=$categoryS_list item=categoryS}
		<div class="menu_list">
{if $categoryS.category_nm}
<hr/>
		<h3>{$categoryS.category_nm|escape}</h3>
<hr/>
{/if}

		{foreach from=$categoryS.menu_list item=menu}

				<div class="menu_detail">
					{if !$menu.no_disp_flg}<h4>{$menu.menu_nm|escape|nl2br}{if $menu.price}<span>&lt;{$menu.price|escape|nl2br}&gt;</span>{/if}</h4>{/if}
					
					{if $menu.menu_explain}<span style="font-size:x-small">{$menu.menu_explain|escape|nl2br}</span>{/if}
				</div>

			{if $menu.menu_img_url}
					<p class="photo"><img alt="" src="{$menu.menu_img_s_url}" /></p>
					<br/>
			{/if}

		{/foreach}

{if $categoryS.photo_list|@count > 0}
			<div class="s_category_photo"> 
		{foreach from=$categoryS.photo_list item=photo}
				<p><img src="/files/user/img/2.jpg" /><br /><span>あああああああああ</span></p> 
		{/foreach}
			</div>
{/if}
		</div>
{/foreach}
	</div>
</div>
