<h2>[emoji:068]{'/modules/photo/label/search_images_by_topic'|translate}{*画像をトピックスで検索する*}</h2>
<form method="get" action="/photo_list/">
  <input type="hidden" name="type" value="topics" />
  <input type="hidden" name="season" value="{$season}" />
  {if $searched_type == "topics"}
  {'/label/title'|translate}{*タイトル*}：<select name="search_id">{html_options options=$photo_search_topics_list selected=$searched_value}</select><br/>
  {else}
  {'/label/title'|translate}{*タイトル*}：<select name="search_id">{html_options options=$photo_search_topics_list}</select><br/>
  {/if}
  <input type="submit" value="{'/label/search'|translate}{*検索*}" />
</form>
<hr/>

