<h2>[emoji:068]{'/modules/photo/label/search_images_by_game'|translate}{*画像を試合で検索*}</h2>
<form name="photo_search_gameamefoot" method="get" action="/photo_list/">
  <input type="hidden" name="type" value="gameamefoot" />
  <input type="hidden" name="season" value="{$season}" />
  {if $searched_type == "gameamefoot"}
    {'/label/game_type'|translate}{*試合形式*}:<select name="game_type">{html_options options=$photo_search_gameamefoot_gametype_list selected=$photo_search_gameamefoot_selected_gametype}</select><br />
  {else}
    {'/label/game_type'|translate}{*試合形式*}:<select name="game_type">{html_options options=$photo_search_gameamefoot_list}</select><br />
  {/if}
  <input type="submit" value="{'/label/search'|translate}{*検索*}" />
</form>
<hr/>
