<table class="layout_table" data-layout="11">
    <!--トップコンテンツ-->
    <tr>
        <td colspan="2">
            <!--トップコンテンツ-->
            <div class="target place_sub_module1" data-place="sub_module1"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="target place_sub_module2" data-place="sub_module2"></div>
        </td>
        <td>
            <div class="target place_sub_module3" data-place="sub_module3"></div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="target place_main_module" data-place="main_module"></div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="target place_sub_module4" data-place="sub_module4"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="target place_sub_module5" data-place="sub_module5"></div>
        </td>
        <td>
            <div class="target place_sub_module6" data-place="sub_module6"></div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="target place_sub_module7" data-place="sub_module7"></div>
        </td>
    </tr>
</table>

