{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}
<script type="text/javascript">
{literal}
function confirmDelete(f) {
    if(confirm('選択された試合を削除します。')) {
        f.MODE.value = 'DELETE';
        f.submit();
    }
}
{/literal}
</script>

<div class="list_right_bt">
<h2>{$module_nm}一覧</h2>
<ul>
{if $auth.leaguebaseball.insert}
<li class="add"><a href="/management/leaguebaseball/leaguebaseball_edit/"><span>試合追加</span></a></li>
{/if}
<li class="view"><a href="{$smarty.const.ROOT_URL}/leaguebaseball_list/" target="_blank"><span>{'/label/view_page'|translate}</span></a></li>
</ul>
</div>

{pankuzu}
<a href="/management/menu/contents/">コンテンツ管理</a>
<a href="/management/leaguebaseball/leaguebaseball_list/">{$module_nm}</a>
{$module_nm}一覧
{/pankuzu}

<p class="page_info">
<a href="/management/accesscount/accesscount_list/">一覧へのアクセス数：{$access_cnt}pv</a>
</p>
<div class="clear"></div>

<div class="main_contents">
<div class="list_main">

{rcms_include file="management/messages_box.html" messages=$messages}
{rcms_include file="management/errors_box.html" errors=$errors}

  <form action="/management/leaguebaseball/leaguebaseball_list/">
    <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
    <input type="hidden" name="MODE" value="" />
    <fieldset class="search_box">
      {rcms_seasonOptions name="season" selected=$season firstOption="true"}
      <select name="league_type">{html_options options=$searchGame_type selected=$league_type}</select>
      <select name="opponent">{html_options options=$searchOpponent selected=$opponent}</select>
      <input type="submit" value="検索する" />
    </fieldset>
  </form>

  <form method="POST" action="/management/leaguebaseball/leaguebaseball_list/">
    <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
    <input type="hidden" name="MODE" value="" />
    <input type="hidden" name="season" value="{$season|escape}" />
    <input type="hidden" name="league_type" value="{$league_type|escape}" />
    <input type="hidden" name="opponent" value="{$opponent|escape}" />

    {pager info=$pageInfo}
    <table width="100%" border="0" cellspacing="2" cellpadding="0">
      <tr>
{if $auth.leaguebaseball.update || $auth.leaguebaseball.delete}
        <th><input type="checkbox" onclick="AllChecked(this.checked, this.form, 'league_id[]');" /></th>
{/if}
        <th>公開</th>
        <th>日付</th>
        <th>試合タイプ</th>
        <th>チーム名</th>
        <th>ステータス</th>
        <th>アクセス数</th>
        <th>更新日時</th>
      </tr>
      {foreach from=$game_list item=row}
      <tr>
        {if $auth.leaguebaseball.update || $auth.leaguebaseball.delete}
          <td><input type="checkbox" name="league_id[]" value="{$row.league_id}" /></td>
        {/if}
        <td>
          {if $row.open_flg eq '1'}
          <img src="/images/management/check.gif" />
          {else}
          <img src="/images/management/batu.gif" />
          {/if}
        </td>
        <td>{$row.ymd_str}</td>
        <td>{$row.league_type}</td>
        <td><a href="/management/leaguebaseball/leaguebaseball_edit/league_id={$row.league_id}&pageID={$currentPageID}">{$row.team_nm}{$row.team_grade}&nbsp;vs&nbsp;{$row.opponent_nm}{$row.opponent_grade}</a></td>
        <td>{$row.league_status}</td>
        <td>{$row.access_cnt}pv</td>
        <td>{$row.update_ymdhi|pg_dateformat}</td>
      </tr>
      {/foreach}
    </table>
    {pager info=$pageInfo}

    {buttonbox}
      <p>選択した試合を一括で</p>
      {if $auth.leaguebaseball.update}
        <button type="submit" onclick="this.form.MODE.value='PUBLIC'">公開にする</button>
        <button type="submit" onclick="this.form.MODE.value='PRIVATE'">非公開にする</button>
      {/if}
      {if $auth.leaguebaseball.delete}
        <button type="button" onclick="confirmDelete(this.form);">削除する</button>
      {/if}
    {/buttonbox}

  </form>
</div>
</div>

{rcms_include file="management/footer.html"}

