<h2>店舗情報</h2>
{$restaurantData.pr1|escape|nl2br}<br/>
{$restaurantData.pr2|escape|nl2br}<br/>

{foreach from=$restaurantData.order_list item=key name=list_data}
  {if $key == "address"}
      {if $restaurantData.zip_main || $restaurantData.zip_sub || $restaurantData.tdfk_nm || $restaurantData.address1 || $restaurantData.address2}
      ■住所<br/>
          {if $restaurantData.zip_main || $restaurantData.zip_sub}
            {$restaurantData.zip_main}&nbsp;-&nbsp;{$restaurantData.zip_sub}<br/>
          {/if}
            {$restaurantData.tdfk_nm}{$restaurantData.address1|nl2br} {$restaurantData.address2|nl2br}<br/>

          {if $location_linkurl|@count == 1}
              [ <a href="{$location_linkurl.0.url}" >MAP</a> ]<br/>
          {elseif  $location_linkurl|@count > 1}
              {section name=location_url loop=$location_linkurl}
                  [ <a href="{$location_linkurl[location_url].url}" >{$location_linkurl[location_url].location_nm}</a> ]<br/>
              {/section}
          {/if}

      {/if}
  {elseif $key == "email"}
      {if $restaurantData[$key]}
          ■{$restaurant_items_options[$key].name}<br/>
          <a href="mailto:{$restaurantData.email|escape}">{$restaurantData.email|escape|nl2br}</a><br/>
      {/if}
  {elseif $key == "tel"}
      {if $restaurantData[$key]}
          ■{$restaurant_items_options[$key].name}<br/>
          <a href="tel:{$restaurantData.tel|replace:"-":""|escape}">{$restaurantData.tel|escape|nl2br}</a><br/>
      {/if}
  {elseif $key == "ext_title_01"}
      {if $restaurantData[$key]}
          ■{$restaurantData.ext_title_01|nl2br}<br/>
          {$restaurantData.ext_txt_01|nl2br}<br/>
      {/if}
   {elseif $key == "ext_title_02"}
     {if $restaurantData[$key]}
         ■{$restaurantData.ext_title_02|nl2br}<br/>
         {$restaurantData.ext_txt_02|nl2br}<br/>
     {/if}
  {elseif $key == "ext_title_03"}
      {if $restaurantData[$key]}
         ■{$restaurantData.ext_title_03|nl2br}<br/>
         {$restaurantData.ext_txt_03|nl2br}<br/>
      {/if}
  {elseif $key == "ext_title_04"}
      {if $restaurantData[$key]}
         ■{$restaurantData.ext_title_04|nl2br}<br/>
         {$restaurantData.ext_txt_04|nl2br}<br/>
      {/if}
  {elseif $key == "ext_title_05"}
      {if $restaurantData[$key]}
         ■{$restaurantData.ext_title_05|nl2br}<br/>
         {$restaurantData.ext_txt_05|nl2br}<br/>
      {/if}
  {elseif $key == "ext_title_06"}
      {if $restaurantData[$key]}
         ■{$restaurantData.ext_title_06|nl2br}<br/>
         {$restaurantData.ext_txt_06|nl2br}<br/>
      {/if}
  {elseif $key == "ext_title_07"}
      {if $restaurantData[$key]}
         ■{$restaurantData.ext_title_07|nl2br}<br/>
         {$restaurantData.ext_txt_07|nl2br}<br/>
      {/if}
  {elseif $key == "ext_title_08"}
      {if $restaurantData[$key]}
         ■{$restaurantData.ext_title_08|nl2br}<br/>
         {$restaurantData.ext_txt_08|nl2br}<br/>
      {/if}
  {elseif $key == "ext_title_09"}
      {if $restaurantData[$key]}
         ■{$restaurantData.ext_title_09|nl2br}<br/>
         {$restaurantData.ext_txt_09|nl2br}<br/>
      {/if}
  {elseif $key == "ext_title_10"}
      {if $restaurantData[$key]}
         ■{$restaurantData.ext_title_10|nl2br}<br/>
         {$restaurantData.ext_txt_10|nl2br}<br/>
      {/if}
  {else}
      {if $restaurantData[$key] && $key ne 'pr1' && $key ne 'pr2' && $key ne 'img1_type' && $key ne 'img2_type' && $key ne 'img3_type' && $key ne 'img4_type'}
         ■{$restaurant_items_options[$key].name}<br/>
         {$restaurantData[$key]|nl2br}<br/>
      {/if}
  {/if}
{/foreach}
<hr/>
<div style="text-align:center;">
{if $restaurantData.img1_s_url}
	<img alt="{$restaurantData.img1_text}" src="{$restaurantData.img1_s_url}" /><br/>{$restaurantData.img1_text|escape|nl2br}<br/> 
{/if}
{if $restaurantData.img2_s_url}
	<img alt="{$restaurantData.img2_text}" src="{$restaurantData.img2_s_url}" /><br/>{$restaurantData.img2_text|escape|nl2br}<br/> 
{/if}
{if $restaurantData.img3_s_url}
	<img alt="{$restaurantData.img3_text}" src="{$restaurantData.img3_s_url}" /><br/>{$restaurantData.img3_text|escape|nl2br}<br/> 
{/if}
{if $restaurantData.img4_s_url}
	<img alt="{$restaurantData.img4_text}" src="{$restaurantData.img4_s_url}" /><br/>{$restaurantData.img4_text|escape|nl2br}<br/> 
{/if}
</div>
<hr/>
