{literal}
<script type="text/javascript">
(function($) {
    /**
    * DOMが読み込まれたときに上部に通知を表示するプラグイン
    * 対象要素のdivの内容をそのまま表示
    * スタイルシートはLESSを使用
    *
    * @対象要素  <div>タグ
    * @使用例
    *    <div id="hoge"><div>
    *
    *
    *       $("#hoge").rcmsNotificationBox();
    *
    */

    $.fn.rcmsNotificationBox = function(options) {
        
        var options=$.extend({
            duration    : 300,
            showTime    : 3000,
            hideButton : false
        },options);

        // 対象要素のjQueryオブジェクト
        var targetElm;

        // 初期化
        function init() {
            // 初期配置
            targetElm.css("top", - (targetElm.height() + 30));
            // 対象要素にクラスを追加
            targetElm.addClass("rcms_ui_notification_box_container");
            
            // 対象要素のjQueryオブジェクトをdata()でセット
            $.data(targetElm.get(0), "box", $(".rcms_ui_notification_box_container"));
            
            // イベントを登録
            $(window).on("load", boxShow);
            if( options.hideButton ){
                // 閉じるボタンがある場合
                options.hideButton.on("click", boxHide);
            }else{
                // 閉じるボタンが無い場合（どこをクリックしても閉じる）
                $(".rcms_ui_notification_box_container").on("click", boxHide);
            }
            
        }

        // 通知を出す
        function boxShow() {
            $.data(targetElm.get(0), "box").animate({top: 0}, options.duration);
            // 一定時間表示した後隠す
            if (options.showTime != 0) {
                setTimeout(boxHide, options.showTime);
            }
        }

        // 通知を隠す
        function boxHide() {
            $.data(targetElm.get(0), "box").animate({top: - (targetElm.height() + 30)}, options.duration);
            return false;
        }

        // メインシーケンス
        return this.each(function() {
            targetElm = $(this);
            init();
        });
    }
})(jQuery);
</script>
{/literal}