@charset "UTF-8";

/* レイアウト用ブロックの設定
------------------------------------------------------------ */
body {
	text-align:[site_align];
}

.mng_line {
	width:[site_width][site_width2];
	[site_width_option]
	text-align:left;
}

#container {
	width:[site_width][site_width2];
	[site_width_option]
	text-align:left;
}

#header {
}

#navi {
}

#footpath {
	[footpath_width]
}

#contents {
	[contents_width]
}

#top_contents {
}

#main_contents {
	width:100%;
	float:left;
	margin-right:-[right_width][right_width2]; 
}
#main_module,
#sub_module2,
#sub_module7 {
	margin-right:[right_width+margin][right_width2];
}
#side_contents_right {
	width:[right_width][right_width2];
	float:left;
}
#sub_module4 {
	width:49%;
	float:left;
}
#sub_module5 {
	width:49%;
	float:right;
}
#bottom_contents {
	clear: both;
}

#footer {
	clear:both;
}

