{strip}
<table class="layout_table" id="cust_tbl" width="100%">
  <tr>
    <td>
      <!--トップコンテンツ-->
      <div id="cust_tbl2">
        <span class="title">{'/label/top_contents'|translate}{*トップコンテンツ*}</span>
        <div class="target" id="place_sub_module1" data-place="sub_module1"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <!--中央コンテンツ（１段目）-->
      <div id="cust_tbl3">
        <div class="target" id="place_sub_module2" data-place="sub_module2"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <!--中央コンテンツ（２段目）-->
      <div id="cust_tbl4">
        <div class="target" id="place_sub_module3" data-place="sub_module3"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <!--中央コンテンツ（３段目）※メインモジュール-->
      <div id="cust_tbl1">
        <span class="title">{'/label/main_module_with_cannot_move'|translate}{*メインモジュール(移動できません)*}</span>
        <div class="target" id="place_main_module" data-place="main_module"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <!--中央コンテンツ（４段目）-->
      <div id="cust_tbl5">
        <div class="target" id="place_sub_module4" data-place="sub_module4"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <!--中央コンテンツ（５段目）-->
      <div id="cust_tbl6">
        <div class="target" id="place_sub_module5" data-place="sub_module5"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <!--中央コンテンツ（６段目）-->
      <div id="cust_tbl8">
        <div class="target" id="place_sub_module7" data-place="sub_module7"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <!--ボトムコンテンツ-->
      <div id="cust_tbl7">
        <span class="title">{'/label/bottom_contents'|translate}{*ボトムコンテンツ*}</span>
        <div class="target" id="place_sub_module6" data-place="sub_module6"></div>
      </div>
    </td>
  </tr>
</table>
{/strip}