{strip}
<table id="cust_tbl" width="100%">
  <!--トップコンテンツ-->
  <tr>
    <td colspan="2">
      <!--トップコンテンツ-->
      <div id="cust_tbl2">
        <span class="title">{'/label/top_contents'|translate}{*トップコンテンツ*}</span>
        <div class="target" id="place_sub_module1" data-place="sub_module1"></div>
      </div>
    </td>
  </tr>

  <tr>
    <td width="40%" valign="top">
      <table width="100%" height="100%">
        <tr>
          <td>
            <div id="cust_tbl3">
              <div class="target" id="place_sub_module2" data-place="sub_module2"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div id="cust_tbl4">
              <div class="target" id="place_sub_module3" data-place="sub_module3"></div>
            </div>
          </td>
        </tr>
      </table>
    </td>
    <td width="60%" valign="top">
      <table width="100%" height="100%">
        <tr>
          <td colspan="2">
            <div id="cust_tbl5">
              <div class="target" id="place_sub_module4" data-place="sub_module4"></div>
            </div>
          </td>
        </tr>
        <tr>
          <td width="50%" valign="top">
            <div id="cust_tbl1">
              <span class="title">{'/label/main_module_with_cannot_move'|translate}{*メインモジュール(移動できません)*}</span>
              <div class="target" id="place_main_module" data-place="main_module"></div>
            </div>
          </td>
          <td width="50%" valign="top">
            <div id="cust_tbl6">
              <div class="target" id="place_sub_module5" data-place="sub_module5"></div>
            </div>
          </td>
        </tr>
	<tr>
          <td colspan="2">
            <div id="cust_tbl8">
              <div class="target" id="place_sub_module7" data-place="sub_module7"></div>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!--ボトムコンテンツ-->
  <tr>
    <td colspan="2">
      <!--ボトムコンテンツ-->
      <div id="cust_tbl7">
        <span class="title">{'/label/bottom_contents'|translate}{*ボトムコンテンツ*}</span>
        <div class="target" id="place_sub_module6" data-place="sub_module6"></div>
      </div>
    </td>
  </tr>
</table>
{/strip}