{module name="fileserver_detail"}
<h2 class="module_title"><span>{$fileInfo.title|escape}</span></h2>
<div class="module_contents">
<table class="list">
  <tr>
    <th>タイトル</th>
    <td>{$fileInfo.title|escape}</td>
  </tr>
  <tr>
    <th>ファイル名</th>
    <td>{$fileInfo.name|escape}</td>
  </tr>
  <tr>
    <th>メモ</th>
    <td>{$fileInfo.memo|escape}</td>
  </tr>
  <tr>
    <th>ダウンロード</th>
    <td><a href="/direct/fileserver/fileserver_download/file_id={$file_id}">ダウンロード</a></td>
  </tr>
</table>
</div>
<br>
<a href="javascript: void Effect.toggle('fileserver_help{$contents_id}', 'blind')">WindowsXPのInternetExplorer6でエラーになる場合</a>
<div id="fileserver_help{$contents_id}" style="display:none">
Windows XP Service Pack 2のInternet Explorer6でファイルをダウンロードする際に「開く」を選択すると、エラーになる場合があります。<br>
「保存」をしてから、開くようにお願いいたします。<br>
Windows XP Service Pack 2の機能の詳細は、次のマイクロソフト株式会社のホームページをご覧ください。<br>
<br>
マイクロソフト株式会社<br>
<a href="http://www.microsoft.com/japan/windowsxp/sp2/" target="_blank">Windows XP Service Pack 2 セキュリティ強化機能搭載</a>（新しいウィンドウで表示）<br>
</div>
{/module}

