{if $items|@count > 0}
<h2>{$source.name}</h2>
  {* 検索結果 *}
  {if $error}
    {$error}<br/>
  {else}

    <dl>
      {foreach from=$items item=item}
          {if $item->isFindable()}
          <dt><a href="/api_general_detail/xid={$source.id}%3A{$item->getId()}">{$item->getName()}</a></dt>
          {elseif $item->getUrl()}
            <dt><a href="{$item->getUrl()}" onclick="return !window.open(href)">{$item->getName()}</a></dt>
          {else}
            <dt>{$item->getName()}</dt>
          {/if}
          <dd>{$item->getSummary()|mbtruncate:100|escape}</dd>
      {/foreach}
    </dl>

    <br/>{$source.credit}
  {/if}
<hr/>
{/if}
