{if $items}
{module name="api_youtube_relation"}
<h2 class="module_title"><span>{'/modules/api_youtube/label/related_youtube_videos'|translate}{*関連動画*}</span></h2>
<div class="module_contents">

      {foreach from=$items item=item}
<p class="subitem_list" style="text-align:center;float:left;width:150px;height:150px;overflow: hidden;padding:0px 2px 10px 2px;">
<a href="{$item.detail}"><img src="{$item.thumb}" alt="{$item.name}"></a><br>
<a href="{$item.detail}">{$item.name}</a>
</p>
      {/foreach}
<div class="clr"></div>
</div>
{/module}
{/if}
