{if $teamRelationList ne NULL || $opponentRelationList ne NULL}
<hr/>
<h2>対戦者情報</h2>
  {if $teamRelationList}
<h3>{$team_nm}</h3>
    {if $teamRelationList.location ne NULL}
      地図情報<br/>
{foreach from=$teamRelationList.location item=item}
  <a href="/location_detail/id={$item.id}">{$item.location_nm}</a><br/>
{/foreach}
    {/if}
    {if $teamRelationList.link ne NULL}
      リンク情報<br/>
{foreach from=$teamRelationList.link item=item}
      <a href="{$item.link_url}">{$item.link_string}</a><br/>
{/foreach}
    {/if}
  {/if}

  {if $opponentRelationList}
<h3>{$opponent_nm}</h3>
<table width="100%">
    {if $opponentRelationList.location ne NULL}
      地図情報<br/>
{foreach from=$opponentRelationList.location item=item}
      <a href="/location_detail/id={$item.id}">{$item.location_nm}</a><br/>
{/foreach}
    {/if}
    {if $opponentRelationList.link ne NULL}
      リンク情報<br/>
{foreach from=$opponentRelationList.link item=item}
      <a href="{$item.link_url}">{$item.link_string}</a><br/>
{/foreach}
    {/if}
  {/if}

{/if}
