{if $gameList|@count > 0}
<h2>関連試合</h2>
{section name=mydata loop=$gameList}
{$gameList[mydata].ymd} {$gameList[mydata].home_team_nm}
<a href="/leaguebaseball_detail/id={$gameList[mydata].league_id}">
{if $gameList[mydata].league_status eq '2' || $gameList[mydata].league_status eq '3'}
  {if $gameList[mydata].vs_result_home eq 'win'}
○
  {elseif $gameList[mydata].vs_result_home eq 'lose'}
●
  {elseif $gameList[mydata].vs_result_home eq 'even'}
△
  {/if}
{$gameList[mydata].home_team_total}
-
{$gameList[mydata].away_team_total}
  {if $gameList[mydata].vs_result_away eq 'win'}
○
  {elseif $gameList[mydata].vs_result_away eq 'lose'}
●
  {elseif $gameList[mydata].vs_result_away eq 'even'}
△
  {/if}
{elseif $gameList[mydata].league_status eq '4'}
（雨天中止）
{/if}
</a>
{$gameList[mydata].away_team_nm}<br/>
{/section}
<hr/>
{/if}
