{module name="photo_comment_list"}
<h2 class="module_title"><span>{'/label/image_list'|translate}{*画像一覧*}</span></h2>
<div class="module_contents">
{if $using_season}
  <form action="/{$page_sysnm}/" method="get">
  {rcms_seasonOptions name=season selected=$season firstOption=true}
  <input type="submit" value="{'/label/search'|translate}{*検索*}">
  </form>
{/if}
{$page_links}
{foreach from=$photoList item=photoData name=photoList}
<div class="image"><a href="/photo_comment_detail/id={$photoData.photo_id}"><input type="image" src="{$smarty.const.ROOT_URL}{$smarty.const.PHOTO_S_SAVE_URL}/{$photoData.photo_id}.jpg"></a></div>
<div class="item">
<h3><a href="/photo_comment_detail/id={$photoData.photo_id}">{$photoData.title}</a></h3>  {'/label/last_updated_time'|translate}{*最終更新日時*} ： {$photoData.ymd_str|pg_dateformat:"%m/%d"}

<p>
<h3>{'/label/comments'|translate}</h3>
{if ($view.comment != 'none' || $view.write != 'none')}
    {if $photoData.comments|@count>0}
    {foreach from=$photoData.comments item=comment_text}
        {$comment_text.note}<br />
        {$comment_text.create_date|pg_dateformat}[{$comment_text.name}]<br />
    {/foreach}
    {else}
    {'/msg/there_are_no_comment'|translate}{*コメントがありません*}
    {/if}
    <a href="/photo_comment_detail/id={$photoData.photo_id}">{'/label/comment_btn'|translate}{*コメントする*}</a>
{/if}
</p>
</div>

{/foreach}
{$page_links}
</div>
{/module}
