{module name="photo_comment_detail"}
{if ($view.comment != 'none' || $view.write != 'none')}
<script type="text/javascript">
var photoId = {$photoData.photo_id};
{literal}
<!--
Event.observe(window, 'load', function() {
    $('comment_list').innerHTML = "loading...";
    new Ajax.Updater("comment_list", '/direct/comment/get_main_comment/module=photo&id=' + photoId, {method: 'get', parameters: ''});
});
//-->
{/literal}
</script>
{/if}

<h2 class="module_title"><span>{$photoData.title}  {'/label/last_updated_time'|translate}{*最終更新日時*} ： {$photoData.ymd_str|pg_dateformat:"%m/%d"}</span></h2>
<div class="module_contents">
<p class="photo_box"><img src="{$photoData.photo_url}" alt="{$photoData.title}" title="{$photoData.title}"></p>

<p class="comment">
<h3>{'/label/comments'|translate}</h3>


{if ($view.comment != 'none' || $view.write != 'none')}
    <div id="comment_list">loading...</div>{* コメント一覧を表示します *}
{/if}
</p>
</div>
{/module}
