{module name="keyword_category"}
<div class="module_contents">
<h2 class="module_title"><span>{$arrKeywordCategory.category_name}</span></h2>
{foreach item=keyword_item from=$arrKeyword name=keyword_item}
<div class="keywordItem">
<h3><a href="/keyword_detail/id={$keyword_item.keyword_id}">{$keyword_item.keyword}</a></h3>
<p class="digest">
{$keyword_item.description|strip_tags:false|mbtruncate:100}
{if $keyword_item.description|strip_tags:false|@mb_strlen > 100}
    <a href="/keyword_detail/id={$keyword_item.keyword_id}">{'/label/continue_reading'|translate}{* 続きを読む *}</a>
{/if}
</p>
</div>
{/foreach}
{rcms_include file="common/pageLinks.html" pageInfo=$pageInfo page_num=10}
</div>
{/module}

{literal}
<style>
th.child a{
  margin-left: 10px;
  padding-left: 5px;
  border-left: 1px dotted #000;
}
</style>
{/literal}
