<ul class="minitabs">
    <li><a href="/management/output/output_list/" {if $page_type eq 'output_list'}class="active"{/if}>出力設定</a></li>
    <li><a href="/management/output/output_rss_list/" {if $page_type eq 'output_rss_list'}class="active"{/if}>RSS/Atom出力</a></li>
    <li><a href="/management/output/output_xml_list/" {if $page_type eq 'output_xml_list'}class="active"{/if}>XML出力</a></li>
    <li><a href="/management/output/output_html_list/" {if $page_type eq 'output_html_list'}class="active"{/if}>HTML出力</a></li>
    <li><a href="/management/output/output_pdf_list/" {if $page_type eq 'output_pdf_list'}class="active"{/if}>PDF出力</a></li>
    <li><a href="/management/output/output_csv_list/" {if $page_type eq 'output_csv_list'}class="active"{/if}>CSV出力</a></li>
</ul>
<ul class="minitabs">
    <li><a href="/management/output/output_json_list/" {if $page_type eq 'output_json_list'}class="active"{/if}>JSON出力</a></li>
</ul>
<div class="clear"></div>
