<div class="menu04"> 
  <div class="sub_navi"> 
    <ul> 
{foreach from=$category_list item=category}
      <li class="navi{$category.no} {if $category.this}this{/if}"><a href="/{$page_sysnm}/category_id={$category.restaurant_menu_category_id}">{$category.category_nm}</a></li> 
{/foreach}
    </ul> 
  </div> 
  <div class="menu_contents"> 
    <div class="menu_list"> <h3>Pizza</h3> 
      <div class="menu2"> 
        <p class="photo"><img alt="" src="/files/user/img/2.jpg" /></p> 
        <div class="menu_detail"> <h4>特製ガーリックトースト</h4> 
          <p class="price">\1,100</p> 
          <p class="detail">料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ</p> 
        </div> 
      </div> 
      <div class="menu2"> 
        <p class="photo"><img alt="" src="/files/user/img/1.jpg" /></p> 
        <div class="menu_detail"> <h4>色どり野菜の自家製ピクルス</h4> 
          <p class="price">\1,100</p> 
          <p class="detail">料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ</p> 
        </div> 
      </div> 
      <div class="menu2"> 
        <p class="photo"><img alt="" src="/files/user/img/1.jpg" /></p> 
        <div class="menu_detail"> <h4>色どり野菜の自家製ピクルス</h4> 
          <p class="price">\1,100</p> 
          <p class="detail">料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ</p> 
        </div> 
      </div> 
      <div class="menu2"> 
        <p class="photo"><img alt="" src="/files/user/img/1.jpg" /></p> 
        <div class="menu_detail"> <h4>色どり野菜の自家製ピクルス</h4> 
          <p class="price">\1,100</p> 
          <p class="detail">料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ</p> 
        </div> 
      </div> 
			<div class="menu"> 
				<div class="menu_detail"> <h4>特製ガーリックトースト</h4> 
					<p class="price">\1,100</p> 
					<p class="detail">料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ</p> 
				</div> 
			</div> 
    </div> 
		<div class="menu_list">
			<h3>Antipasto</h3>

			<div class="menu"> 
				<div class="menu_detail"> <h4>特製ガーリックトースト</h4> 
					<p class="price">\1,100</p> 
					<p class="detail">料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ</p> 
				</div> 
			</div> 
			<div class="menu"> 
				<div class="menu_detail"> <h4>色どり野菜の自家製ピクルス</h4> 
					<p class="price">\1,200</p> 
					<p class="detail">料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ</p> 
				</div> 
			</div> 
			<div class="menu"> 
				<div class="menu_detail"> <h4>ノルウェーサーモンとフルーツのマリネ</h4> 
					<p class="price">\1,250</p> 
					<p class="detail">料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ</p> 
				</div> 
			</div> 
			<div class="menu"> 
				<div class="menu_detail"> <h4>フルーツトマトのカプレーゼ</h4> 
					<p class="price">\1,450</p> 
					<p class="detail">料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ</p> 
				</div> 
			</div> 

		</div> 

		<div class="menu_list"> <h3>Pasta</h3> 

			<div class="menu"> 
				<div class="menu_detail"> <h4>アーリオオーリオペペロンチーノ</h4> 
					<p class="price">\1,450</p> 
					<p class="detail">料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ</p> 
				</div> 
			</div> 
			<div class="menu"> 
				<div class="menu_detail"> <h4>アマトリチャーナ</h4> 
					<p class="price">\1,450</p> 
					<p class="detail">料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ</p> 
				</div> 
			</div> 
			<div class="menu"> 
				<div class="menu_detail"> <h4>挽肉と長ネギのスパゲッティ</h4> 
					<p class="price">\1,450</p> 
					<p class="detail">料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ</p> 
				</div> 
			</div> 
			<div class="menu"> 
				<div class="menu_detail"> <h4>フレッシュトマトとモッツァレラチーズのスパゲッティ</h4> 
					<p class="price">\1,450</p> 
					<p class="detail">料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ・料理の説明なんぞ</p> 
				</div> 
			</div>

		</div> 
  </div> 
</div>