<h2>{$gameData.opponent}{$gameData.opponent_grade}との戦績</h2>
{if $gameRecord.start_year ne ''}
公式戦対戦成績（{$gameRecord.start_year}年～{$gameRecord.end_year}年） {$smarty.const.SELF_TEAM_SNM} {$gameRecord.win_cnt}勝{$gameRecord.lose_cnt}敗{$gameRecord.even_cnt}分<br/>
{/if}
{if $gameList.0.opponent eq ''}
過去の戦績はありません<br/>
{else}
過去３試合の対戦結果<br/>
{section name=mydata loop=$gameList max=3}
{$gameList[mydata].ymd_str} {$gameList[mydata].game_type}{$gameList[mydata].game_type2} <a href="/gamesimple_detail/id={$gameList[mydata].game_id}">
{if $gameList[mydata].game_status eq '3'}
{if $gameList[mydata].score_detail_arr.vs_result_self eq 'win'}
○
{elseif $gameList[mydata].score_detail_arr.vs_result_self eq 'lose'}
●
{elseif $gameList[mydata].score_detail_arr.vs_result_self eq 'even'}
△
{/if}
{$gameList[mydata].score_detail_arr.Self_Total}{/if}
-{if $gameList[mydata].game_status eq '3'}
{$gameList[mydata].score_detail_arr.Opp_Total}
{if $gameList[mydata].score_detail_arr.vs_result_opp eq 'win'}
○
{elseif $gameList[mydata].score_detail_arr.vs_result_opp eq 'lose'}
●
{elseif $gameList[mydata].score_detail_arr.vs_result_opp eq 'even'}
△
{/if}
{/if}
</a>
<br/>
{/section}
<hr/>

{/if}
