{module name="game_detail"}
<h2 class="module_title">
{$gameData.league_type} {$gameData.league_type2}
{if $gameData.league_status eq '0' ||  $gameData.league_status eq '1'}
試合予定
{elseif $gameData.league_status eq '2'}
途中経過
{elseif $gameData.league_status eq '3'}
試合結果
{elseif $gameData.league_status eq '4'}
試合結果（雨天中止）
{/if}
</h2>
<div class="module_contents">
<div align="left" >

<table class="scoreboard">
  <tr>
    <td colspan="{math equation="n+4" n=$gameData.score_detail_arr.first|@count}">{$gameData.ymd}&nbsp;{$gameData.league_type}&nbsp;
    {if $gameData.place_id != "" && $gameData.place_id != -1}
      <a href="/location_detail/id={$gameData.place_id}">{$gameData.place}</a>
    {else}
      {$gameData.place}
    {/if}
    {if  $gameData.league_status eq '4'}<br/>雨天中止{/if}</td>
  </tr>
  <tr>
    <th>チーム</th>
{section name=score_bord loop=$gameData.score_detail_arr.first}
    <th class="inning">{$smarty.section.score_bord.iteration}</th>
{/section}
    <th class="inning">R</th>
    <th class="inning">H</th>
    <th class="inning">E</th>
  </tr>
  <tr>
    <td class="first_team">{$gameData.first_team_nm}</td>
{section name=first_score loop=$gameData.score_detail_arr.first}
    <td>{$gameData.score_detail_arr.first[first_score.index_next]}</td>
{/section}
    <th>{$gameData.score_detail_arr.first_Total}</td>
    <td>{$gameData.score_detail_arr.first_hit}</td>
    <td>{$gameData.score_detail_arr.first_error}</td>
  </tr>
  <tr>
    <td class="second_team">{$gameData.second_team_nm}</td>
{section name=second_score loop=$gameData.score_detail_arr.first}
    <td>{$gameData.score_detail_arr.second[second_score.index_next]}</td>
{/section}
    <th>{$gameData.score_detail_arr.second_Total}</td>
    <td>{$gameData.score_detail_arr.second_hit}</td>
    <td>{$gameData.score_detail_arr.second_error}</td>
  </tr>
</table>

<p align="left">
{if $gameData.pitcher_detail_arr.win_pitcher}<strong>勝：</strong>{$gameData.pitcher_detail_arr.win_pitcher}　{/if}
{if $gameData.pitcher_detail_arr.save}<strong>S：</strong>　{$gameData.pitcher_detail_arr.save}　{/if}
{if $gameData.pitcher_detail_arr.lose_pitcher}<strong>負：</strong>{$gameData.pitcher_detail_arr.lose_pitcher}{/if}

{if $gameData.extra_bases_arr.self_homerun || $gameData.extra_bases_arr.opp_homerun}
<br/>
【本塁打】
  {if $gameData.extra_bases_arr.self_homerun}
    {$gameData.extra_bases_arr.self_homerun}({$gameData.team_nm}) &nbsp;
  {/if}
  {if $gameData.extra_bases_arr.opp_homerun}
    {$gameData.extra_bases_arr.opp_homerun}({$gameData.opponent_nm})
  {/if}
{/if}

{if $gameData.extra_bases_arr.self_three_base || $gameData.extra_bases_arr.opp_three_base}
<br/>
【三塁打】
  {if $gameData.extra_bases_arr.self_three_base}
    {$gameData.extra_bases_arr.self_three_base}({$gameData.team_nm}) &nbsp;
  {/if}
  {if $gameData.extra_bases_arr.opp_three_base}
    {$gameData.extra_bases_arr.opp_three_base}({$gameData.opponent_nm})
  {/if}
{/if}

{if $gameData.extra_bases_arr.self_two_base || $gameData.extra_bases_arr.opp_two_base}
<br/>
【二塁打】
  {if $gameData.extra_bases_arr.self_two_base}
    {$gameData.extra_bases_arr.self_two_base}({$gameData.team_nm}) &nbsp;
  {/if}
  {if $gameData.extra_bases_arr.opp_two_base}
    {$gameData.extra_bases_arr.opp_two_base}({$gameData.opponent_nm})
  {/if}
{/if}

{if $gameData.game_comment}
<br/>
{$gameData.game_comment|nl2br}
<br/>
<br/>
{/if}
</p>

</div>


{if count($gameMembers.self)}
<br/>
<span class="self_team_nm">{$gameData.team_nm}{$gameData.team_grade}</span>
  <table class="self_member_table" cellspacing="0">
    <tr>
      <th width="20" class="self_member_table">打順</th>
      <th width="60" class="self_member_table">ポジション</th>
      <th width="140" class="self_member_table">名前</th>
      <th width="30" class="self_member_table">打数</th>
      <th width="30" class="self_member_table">安打</th>
    </tr>
  {foreach item=row from=$gameMembers.self key=key}
    {if $row.member_order}
    <tr>
      <td class="center">{if $row.member_order < 10}{$row.member_order}{/if}</td>
      <td class="center">{$row.position_str}</td>
      <td>
        {if $row.member_id > 0}
          <a href="/member_detail/id={$row.member_id}">{$row.member_name}{if $row.member_grade}({$row.member_grade}){/if}</a>
        {else}
          {$row.member_name}{if $row.member_grade}({$row.member_grade}){/if}
        {/if}
      </td>
      <td class="center">{$row.bat_count}</td>
      <td class="center">{$row.hit_count}</td>
    </tr>
    {/if}
  {/foreach}
  </table>
{/if}


{if count($gameMembers.opp)}
<br/>
  <span class="opp_team_nm">{$gameData.opponent_nm}{$gameData.opponent_grade}</span>
  <table class="self_member_table" cellspacing="0">
    <tr>
      <th width="20" class="opp_member_table">打順</th>
      <th width="60" class="opp_member_table">ポジション</th>
      <th width="140" class="opp_member_table">名前</th>
      <th width="30" class="opp_member_table">打数</th>
      <th width="30" class="opp_member_table">安打</th>
    </tr>
  {foreach item=row from=$gameMembers.opp key=key}
    {if $row.member_order}
    <tr>
      <td class="center">{if $row.member_order < 10}{$row.member_order}{/if}</td>
      <td class="center">{$row.position_str}</td>
      <td>
        {if $row.member_id > 0}
          <a href="/member_detail/id={$row.member_id}">{$row.member_name}{if $row.member_grade}({$row.member_grade}){/if}</a>
        {else}
          {$row.member_name}{if $row.member_grade}({$row.member_grade}){/if}
        {/if}
      </td>
      <td class="center">{$row.bat_count}</td>
      <td class="center">{$row.hit_count}</td>
    </tr>
    {/if}
  {/foreach}
  </table>
{/if}


{section name=game_topics loop=$gameTopicsList}
<h2 class="topics_subject">{$gameTopicsList[game_topics].subject}</h2>
<p class="topics_ymd">{$gameTopicsList[game_topics].ymd_str}</p>
<div class="topics_contents">{$gameTopicsList[game_topics].contents}</div>
{/section}
<div class="relation_link"><a href="/leaguebaseball_list/" class="small_text">試合一覧へ</a></div>

</div>

{/module}
<style>
{literal}
.scoreboard {
  border: 1px solid gray;
  border-collapse: collapse;
  border-width: 1px;
  height:60px;
  background-color: #FFFFFF;
  border-spacing: 0px;
  color:#000000;
}

.scoreboard th{
  text-align: center;
  border: 1px solid gray;
  border-collapse: collapse;
  background-color: #FFFFFF;
}

.scoreboard td{
  text-align: center;
  border: 1px solid gray;
  border-collapse: collapse;
  background-color: #FFFFFF;
}

th.inning{
  width:20px;
}

td.first_team{
  background-color:#EEFFEE;
}

td.second_team{
  background-color:#FFEEEE;
}

.position_space{
  margin-top:0px;
  position:relative;
  width:470px;
{/literal}
{if !$gameMembers.self[16].member_order}
  height:420px;
background-image:url(/images/modules/gamebaseball/position_area.gif);
{elseif !$gameMembers.self[23].member_order}
  height:480px;
background-image:url(/images/modules/gamebaseball/position_area.gif);
{else}
  height:540px;
background-image:url(/images/modules/gamebaseball/position_area.gif);
{/if}
{literal}
  text-align: center;

}

.position_space a{
  color:#FFFFFF;
  font-size: 85%;
}

.position_nm {
  color:#FFFF00;
  font-weight: bold;
  font-style: italic;
  font-size: 100%;
  background-color:#000033;
  margin : 0px 15px -3px 15px;
  width:50px;
}

.position_space a:visited{
  color:#FFFFFF;
}

.position_space1{position:absolute ;top:220px;left:215px;}
.position_space2{position:absolute ;top:300px;left:215px;}
.position_space3{position:absolute ;top:150px;left:365px;}
.position_space4{position:absolute ;top:120px;left:285px;}
.position_space5{position:absolute ;top:150px;left:65px;}
.position_space6{position:absolute ;top:120px;left:155px;}
.position_space7{position:absolute ;top:50px;left:45px;}
.position_space8{position:absolute ;top:20px;left:215px;}
.position_space9{position:absolute ;top:50px;left:385px;}
.position_space10{position:absolute ;top:230px;left:5px;}
.position_space11{position:absolute ;top:300px;left:5px;}
.position_space12{position:absolute ;top:300px;left:70px;}
.position_space13{position:absolute ;top:360px;left:5px;}
.position_space14{position:absolute ;top:360px;left:75px;}
.position_space15{position:absolute ;top:360px;left:140px;}
.position_space16{position:absolute ;top:420px;left:5px;}
.position_space17{position:absolute ;top:420px;left:70px;}
.position_space18{position:absolute ;top:420px;left:135px;}
.position_space19{position:absolute ;top:420px;left:200px;}
.position_space20{position:absolute ;top:420px;left:265px;}
.position_space21{position:absolute ;top:420px;left:330px;}
.position_space22{position:absolute ;top:420px;left:395px;}
.position_space23{position:absolute ;top:480px;left:5px;}
.position_space24{position:absolute ;top:480px;left:70px;}
.position_space25{position:absolute ;top:480px;left:135px;}
.position_space26{position:absolute ;top:480px;left:200px;}
.position_space27{position:absolute ;top:480px;left:265px;}
.position_space28{position:absolute ;top:480px;left:330px;}
.position_space29{position:absolute ;top:480px;left:395px;}
{/literal}
</style>
