{module name="photo_new"}
<h2 class="module_title"><span>{'/label/new_image'|translate}{*新着画像*}</span></h2>
<div class="module_contents">
{section name=mydata loop=$photoList max=3}
<div class="photo_new_list">
  <a href="/photo_detail/id={$photoList[mydata].photo_id}&type={$type}&search_id={$search_id}">{$photoList[mydata].ymd}</a><br>
  <a href="/photo_detail/id={$photoList[mydata].photo_id}"><img src="{$smarty.const.PHOTO_S_SAVE_URL}/{$photoList[mydata].photo_id}.jpg" alt="{$photoList[mydata].title}" width="150" height="100" border="0"></a><br>
  <a href="/photo_detail/id={$photoList[mydata].photo_id}&type={$type}&search_id={$search_id}">{$photoList[mydata].title}</a>
</div>
{/section}
<p class="relation_link"><a href="/photo_list/{$param}" class="small_text">{'/label/to_other_images'|translate}{*他の画像を見る*}</a></p>
</div>
{/module}
