{if $photo_search_member_grade_list|@count > 0 || $photo_search_member_list|@count > 0}
{module name="photo_search"}
<h2 class="module_title"><span>{'/modules/photo/label/search_images_by_member'|translate}{*写真をメンバーで検索*}</span></h2>
<div class="module_contents">
<form name="photo_search_member" method="get" action="/photo_list/">
  <input type="hidden" name="type" value="member">
  <input type="hidden" name="season" value="{$season}">
  {if $searched_type == "member"}
    {if $photo_search_member_grade_list|@count > 0}
    {'/label/grade'|translate}{*学年*}：<select name="grade" onChange="onChangeMmeberData(this.value, {$season})">{html_options options=$photo_search_member_grade_list selected=$photo_search_member_selected_grade}</select><br>
    {/if}
    {'/label/name'|translate}{*名前*}：<select name="search_id" id="photo_member">{html_options options=$photo_search_member_list selected=$searched_value}</select><br>
  {else}
    {if $photo_search_member_grade_list|@count > 0}
    {'/label/grade'|translate}{*学年*}：<select name="grade" onChange="onChangeMmeberData(this.value, {$season})">{html_options options=$photo_search_member_grade_list}</select><br>
    {/if}
    {'/label/name'|translate}{*名前*}：<select name="search_id" id="photo_member">{html_options options=$photo_search_member_list}</select><br>
  {/if}
  <input type="submit" value="{'/label/search'|translate}{*検索*} ">
</form>
</div><!--//module_contents-->
<iframe id="photo_search_member_frame" name="photo_search_member_frame" frameborder="0" vspace="0" hspace="0" marginwidth="0" marginheight="0" src="" width="0%" height="1px" scrolling="no" style="overflow:hidden"></iframe>
{literal}
<script language="JavaScript" type="text/JavaScript">
<!--
function onChangeMmeberData(grade, season) {
    var myIframe = document.getElementById('photo_search_member_frame');
    myIframe.src = "/js/getItem.php?item_type=photoMember&searchID=" + grade + "&season=" + season;
}
//-->
</script>
{/literal}
{/module}
{/if}
