{if $photoList|@count > 0}
{module name="photo_search"}
<h2 class="module_title"></h2>
<div class="module_contents">
<div style="padding:10px 0px;text-align:center;">
{if $photoList[0]}
<a href="/photo_detail/id={$photoList.0.photo_id}&{$param}&season={$season}">{'/label/to_previous_image'|translate}{*前の画像へ*}</a>
<p class="subitem_list" style="text-align:center;float:left;width:150px;padding:0px 2px 10px 2px;">
<a href="/photo_detail/id={$photoList[0].photo_id}&{$param}&season={$season}">{$photoList[0].ymd}</a><br>
<a href="/photo_detail/id={$photoList[0].photo_id}&{$param}&season={$season}"><img src="{$smarty.const.PHOTO_S_SAVE_URL}/{$photoList[0].photo_id}.jpg" alt="{$photoList[0].title}" width="150" height="100" border="0"></a><br>
<a href="/photo_detail/id={$photoList[0].photo_id}&{$param}&season={$season}">{$photoList[0].title}</a></p>
{/if}
{if $photoList[1]}
<a href="/photo_detail/id={$photoList[1].photo_id}&{$param}&season={$season}">{'/label/to_next_image'|translate}{*次の画像へ*}</a>
<p class="subitem_list" style="text-align:center;float:right;width:150px;padding:2px 0px 10px 2px;">
<a href="/photo_detail/id={$photoList[1].photo_id}&{$param}&season={$season}">
{$photoList[1].ymd}</a><br>
<a href="/photo_detail/id={$photoList[1].photo_id}&{$param}&season={$season}">
<img src="{$smarty.const.PHOTO_S_SAVE_URL}/{$photoList[1].photo_id}.jpg" alt="{$photoList[1].title}" width="150" height="100" border="0"></a><br>
<a href="/photo_detail/id={$photoList[1].photo_id}&{$param}&season={$season}">
{$photoList[1].title}</a></p>
{/if}
</div>
<br style="clear:both;">
</div>
{/module}
{/if}
