{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}
<div class="list_right_bt">
<h2>更新履歴一覧</h2>
<ul>
{if $auth.season.insert}
<li class="add"><a href="/management/season/season_edit/"><span>資料追加</span></a></li>
{/if}
</ul>
</div>
{pankuzu}
<a href="/management/menu/contents/">コンテンツ更新</a>
<a href="/management/season/season_list/">{$module_nm}</a>
<a href="/management/season/season_list/">{$module_nm}一覧</a>
<a href="/management/season/season_edit/season={$season}">資料編集</a>
更新履歴一覧
{/pankuzu}
<div class="clear"></div>

<div class="main_contents">
{rcms_include file="management/history_table.html" list=$history_list link="/management/season/season_edit/season=$season" pageInfo=$pageInfo}

</div>
{rcms_include file="management/footer.html"}
