<link rel="alternate" type="application/rss+xml" title="{$blog_header.title|escape}" href="{$smarty.const.ROOT_URL}/files/blog/rss/RSS_BLOG_{$blog_header.blog_id}.rdf">
{module name="blog_detail"}
<h2 class="module_title"><span><a href="/blog_my_top/blog_id={$blog_header.blog_id}" >{$blog_header.title|escape}</a></span></h2>

<div class="module_contents">

<!-- 記事 -->
<div class="blog_item">
    <h4 class="subject"><span class="article_tit">{$blog_item.subject|escape}</span>
    {if $blog_item.theme_nm ne ''}<span class="small_text">[{$blog_item.theme_nm|escape}]</span>{/if}
    </h4>

<p class="post">
    <span class="posting_ymdt">{'/label/post_date'|translate}{* 投稿日時 *}：{$blog_item.post_ymdhi|pg_dateformat}</span><a href="{$smarty.const.ROOT_URL}/files/blog/rss/RSS_BLOG_{$blog_header.blog_id}.rdf"><img src="/images/modules/rss/rss.gif" alt="rss"></a>
</p>

    <div class="blog_contents clearFix">{$blog_item.contents}
    {if $blog_item.gaibu_link}
        <div class="ref_outside_blog">
            {'/modules/blog/msg/blog_detail_want_to_read_outside_blog'|translate}
            {* この記事は外部ブログを参照しています。すべて見るには下のリンクをクリックしてください。*}
            <p>{'/modules/blog/label/blog_entry_title'|translate}{* 記事のタイトル *}：<a href="{$blog_item.gaibu_link|escape}" target="_blank">{$blog_item.subject|escape}</a></p>
            {if $blog_item.gaibu_channel_title && $blog_item.gaibu_channel_link}
                <p>({'/modules/blog/label/blog_title'|translate}{* ブログのタイトル *}：<a href="{$blog_item.gaibu_channel_link|escape}" target="_blank">{$blog_item.gaibu_channel_title|escape}</a>)</p>
            {/if}
        </div>
    {/if}
    </div>
</div>


<div class="relation_link">
｜<a href="/blog_top/" class="small_text">{'/modules/blog/label/blog_top'|translate}{* ブログトップ *}</a>｜
{if $blog_link_id.back != ""}
<a href="/blog_detail/blog_id={$blog_header.blog_id}&id={$blog_link_id.back}{if $blog_item.theme_id}&theme={$blog_item.theme_id}{/if}" class="small_text">&laquo;{'/label/prev'|translate}</a>{* 前へ *}
{else}
<span class="small_text">&laquo;{'/label/prev'|translate}</span>{* 前へ *}
{/if}
｜
{if $blog_link_id.next != ""}
<a href="/blog_detail/blog_id={$blog_header.blog_id}&id={$blog_link_id.next}{if $blog_item.theme_id}&theme={$blog_item.theme_id}{/if}" class="small_text">{'/label/next'|translate}&raquo;</a>{* 次へ *}
{else}
<span class="small_text">{'/label/next'|translate}&raquo;</span>{* 次へ *}
{/if}
｜
{if $blog_item.comment_flg != 0}
<a href="/blog_detail/blog_id={$blog_header.blog_id}&id={$blog_item.blog_item_id}#comment_form" class="small_text">{'/label/comments'|translate}{* コメント *}({$blog_item.commentCnt})</a>｜
{/if}
{if $blog_item.trackback_flg != 0}
<a href="/blog_detail/blog_id={$blog_header.blog_id}&id={$blog_item.blog_item_id}#trackback" class="small_text">{'/label/trackback'|translate}{* トラックバック *}({$blog_item.tbCnt})</a>｜
{/if}


</div>
</div>
{/module}

<!-- CSS -->
{if $blog_item.css_flg == 1}
<style type="text/css">
<!--
{$blog_item.blog_css}
-->
</style>
{/if}
<!-- //CSS -->

