<ul class="minitabs">
  <li><a href="/management/login_history/login_history_list/"{if $page_type eq 'login_history_list'} class="active"{/if}>{'/modules/login_history/label/list'|translate}</a></li>
  <li><a href="/management/login_history/login_history_stats/"{if $page_type eq 'login_history_stats'} class="active"{/if}>{'/modules/login_history/label/summary'|translate}</a></li>
  <li><a href="/management/login_history/login_history_download/"{if $page_type eq 'login_history_download'} class="active"{/if}>{'/modules/login_history/label/csv_download'|translate}</a></li>
</ul>
