<h2>
[emoji:025]{$gameData.game_type} {$gameData.game_type2}　
{if $gameData.game_status eq '0' ||  $gameData.game_status eq '1'}
試合予定
{elseif $gameData.game_status eq '2'}
途中経過
{elseif $gameData.game_status eq '3'}
試合結果
{/if}</h2><br/>

[ｽｺｱ]<br/>
{$smarty.const.SELF_TEAM_SNM}{$gameData.team_grade}vs {$gameData.team_nm}{$gameData.opponent_grade}<br/>
{if $gameData.game_status eq '2' ||  $gameData.game_status eq '3'}
{$gameData.score_detail_arr.Self_Total}({$gameData.score_detail_arr.Self_Half1}/{$gameData.score_detail_arr.Self_Half2})
-
{$gameData.score_detail_arr.Opp_Total}({$gameData.score_detail_arr.Opp_Half1}/{$gameData.score_detail_arr.Opp_Half2})
{if $gameData.score_detail_arr.Self_Extra1 || $gameData.score_detail_arr.Opp_Extra1}
[延長]<br/>
{$gameData.score_detail_arr.Self_Extra1}/{$gameData.score_detail_arr.Self_Extra2}-{$gameData.score_detail_arr.Opp_Extra1}/{$gameData.score_detail_arr.Opp_Extra2}
{/if}
{if $gameData.score_detail_arr.Self_PK || $gameData.score_detail_arr.Opp_PK}
[PK]<br/>
{$gameData.score_detail_arr.Self_PK}-{$gameData.score_detail_arr.Opp_PK}
{/if}
{/if}

<br/>
[日時]
{$gameData.ymd_str}<br/>
{if $gameData.ko_time}
[Kick off]
{$gameData.ko_time}<br/>
{/if}
{if $gameData.place}
[試合会場]
{$gameData.place}<br/>
{/if}
{if $gameData.referee}
[ﾚﾌﾘｰ]
{$gameData.referee}<br/>
{/if}
{if $gameData.assistant_referee1 || $gameData.assistant_referee2}
[副審]
{$gameData.assistant_referee1}/{$gameData.assistant_referee2}<br/>
{/if}
{if $gameData.referee4th}
[第4審判]
{$gameData.referee4th}<br/>
{/if}
<br/>

{if $gameData.game_status eq '2' ||  $gameData.game_status eq '3'}
[{$smarty.const.SELF_TEAM_SNM}{$gameData.team_grade}-{$gameData.team_nm}]<br/>
  {if $gameData.score_detail_arr.Self_SH || $gameData.score_detail_arr.Opp_SH}
SH:{$gameData.score_detail_arr.Self_SH}-{$gameData.score_detail_arr.Opp_SH}<br/>
  {/if}
  {if $gameData.score_detail_arr.Self_GK || $gameData.score_detail_arr.Opp_GK}
GK:{$gameData.score_detail_arr.Self_GK}-{$gameData.score_detail_arr.Opp_GK}<br/>
  {/if}
  {if $gameData.score_detail_arr.Self_CK || $gameData.score_detail_arr.Opp_CK}
CK:{$gameData.score_detail_arr.Self_CK}-{$gameData.score_detail_arr.Opp_CK}<br/>
  {/if}
  {if $gameData.score_detail_arr.Self_FK || $gameData.score_detail_arr.Opp_FK}
FK:{$gameData.score_detail_arr.Self_FK}-{$gameData.score_detail_arr.Opp_FK}<br/>
  {/if}
{/if}

{if $gameData.game_comment}
<br/>
{$gameData.game_comment|nl2br}
<br/>
{/if}

<hr/>
<h2>出場選手</h2>
[{$smarty.const.SELF_TEAM_SNM}{$gameData.team_grade}]<br/>
{section name=i loop=$sCounter}
{if $gameMembers.self[i].disp_name}
  {if $gameMembers.self[i].member_id > 0}
    {$i}.<a href="/member_detail/id={$gameMembers.self[i].member_id}">{$gameMembers.self[i].disp_name}</a>
  {else}
    {$i}.{$gameMembers.self[i].disp_name}
  {/if}
  ({$gameMembers.self[i].position_nm})<br/>
{/if}
{/section}
<br/>
{if $gameMembers.self.change|@count > 0}
[選手交代]<br/>
{section name=i loop=$gameMembers.self.change}
{$gameMembers.self.change[i].change_time}分<br/>
OUT:
  {if $gameMembers.self.change[i].change_from_member_id > 0}
          <a href="/member_detail/id={$gameMembers.self.change[i].change_from_member_id}">{$gameMembers.self.change[i].change_from}</a>
  {else}
          {$gameMembers.self.change[i].change_from}
  {/if}
<br/>
IN:
  {if $gameMembers.self.change[i].member_id > 0}
          <a href="/member_detail/id={$gameMembers.self.change[i].member_id}">{$gameMembers.self.change[i].member_name}</a>
  {else}
          {$gameMembers.self.change[i].member_name}
  {/if}
<br/>
<br/>
{/section}
{/if}


[{$gameData.team_nm}{$gameData.opponent_grade}]<br/>
{section name=i loop=$sCounter}
{if $gameMembers.opp[i].disp_name}
{$i}.{$gameMembers.opp[i].disp_name}
({$gameMembers.opp[i].position_nm})<br/>
{/if}
{/section}
<br/>
{if $gameMembers.opp.change|@count > 0}
[選手交代]<br/>
{section name=i loop=$gameMembers.opp.change}
{$gameMembers.opp.change[i].change_time}分<br/>
OUT:
  {if $gameMembers.opp.change[i].change_from_member_id > 0}
          <a href="/member_detail/id={$gameMembers.opp.change[i].change_from_member_id}">{$gameMembers.opp.change[i].change_from}</a>
  {else}
          {$gameMembers.opp.change[i].change_from}
  {/if}
<br/>
IN:
  {if $gameMembers.opp.change[i].member_id > 0}
          <a href="/member_detail/id={$gameMembers.opp.change[i].member_id}">{$gameMembers.opp.change[i].disp_name}</a>
  {else}
          {$gameMembers.opp.change[i].disp_name}
  {/if}
<br/>
<br/>
{/section}
{/if}


<div style="text-align:right;font-size:small;">
<a href="/gamesoccer_list/">試合一覧へ</a>
</div>

{if $gameTopicsList|@count > 0}
<hr/>
{/if}

{section name=game_topics loop=$gameTopicsList}
<h2>{$gameTopicsList[game_topics].subject}</h2>
<div style="text-align:right;font-size:small;">
{$gameTopicsList[game_topics].ymd_str}
</div>
{$gameTopicsList[game_topics].contents}
{/section}
{if $gameTopicsList|@count > 0}
<div style="text-align:right;font-size:small;">
<a href="/gamesoccer_list/">試合一覧へ</a>
</div>
{/if}
<hr/>

