{module name="game_detail"}
<h2 class="module_title">
{$gameData.league_type} {$gameData.league_type2}
{if $gameData.league_status eq '0' ||  $gameData.league_status eq '1'}
試合予定
{elseif $gameData.league_status eq '2'}
途中経過
{elseif $gameData.league_status eq '3'}
試合結果
{/if}
</h2>
<div class="module_contents">

  <div class="score">
    <div>
      <table class="score_table">
        <tr>
          <th colspan="4" class="self_team_nm" style="background-color:{$smarty.const.TEAMCOLOR_leaguerugby};">{$smarty.const.SELF_TEAM_SNM}{$gameData.team_grade}</th>
          <th colspan="4" class="opp_team_nm">{$gameData.team_nm}{$gameData.opponent_grade}</th>
        </tr>
        <tr>
          <td width="30" rowspan="2">&nbsp;</td>
          <td width="45" rowspan="2" class="score28">{$gameData.score_detail_arr.Self_Total}</td>
          <td width="20">{$gameData.score_detail_arr.Self_Half1}</td>
          <td rowspan="2" colspan="2">-</td>
          <td width="20">{$gameData.score_detail_arr.Opp_Half1}</td>
          <td width="45" rowspan="2" class="score28">{$gameData.score_detail_arr.Opp_Total}</td>
          <td width="30" rowspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td>{$gameData.score_detail_arr.Self_Half2}</td>
          <td>{$gameData.score_detail_arr.Opp_Half2}</td>
        </tr>
      </table>
      <table class="score_table" title="T：トライ G：ゴール PG：ペナルティゴール DG：ドロップゴール">
        <tr class="TGPD">
          <th width="27">T</th>
          <th width="27">G</th>
          <th width="27">PG</th>
          <th width="27">DG</th>
          <th width="24">&nbsp;</th>
          <th width="27">T</th>
          <th width="27">G</th>
          <th width="27">PG</th>
          <th width="27">DG</th>
        </tr>
        <tr valign="middle">
          <td height="2" colspan="9"></td>
        </tr>
        <tr>
          <td class="TGPD2">{$gameData.score_detail_arr.Self_T1}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Self_G1}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Self_P1}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Self_D1}</td>
          <td class="TGPD2">前</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Opp_T1}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Opp_G1}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Opp_P1}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Opp_D1}</td>
        </tr>
        <tr>
          <td class="TGPD2">{$gameData.score_detail_arr.Self_T2}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Self_G2}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Self_P2}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Self_D2}</td>
          <td class="TGPD2">後</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Opp_T2}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Opp_G2}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Opp_P2}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Opp_D2}</td>
        </tr>
        <tr>
          <td class="TGPD2">{$gameData.score_detail_arr.Self_T3}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Self_G3}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Self_P3}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Self_D3}</td>
          <td class="TGPD2">計</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Opp_T3}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Opp_G3}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Opp_P3}</td>
          <td class="TGPD2">{$gameData.score_detail_arr.Opp_D3}</td>
        </tr>
      </table>
      <p class="small_text">T：トライ G：ゴール PG：ペナルティゴール DG：ドロップゴール</p>
    </div>

      <table class="gameinfo_table">
        <tr>
          <th>日時</th>
          <td>{$gameData.ymd_str}</td>
        </tr>
        <tr>
          <th>Kick off</th>
          <td>{$gameData.ko_time}</td>
        </tr>
        <tr>
          <th>試合会場</th>
          <td>              
            {if $gameData.place_id != "" && $gameData.place_id != -1}
              <a href="/location_detail/id={$gameData.place_id}">{$gameData.place}</a>
            {else}
              {$gameData.place}
            {/if}
          </td>
        </tr>
        <tr>
          <th>レフリー</th>
          <td>{$gameData.referee}</td>
        </tr>
        <tr>
          <th>タッチジャッジ</th>
          <td>{$gameData.touch_judge1}<br>{$gameData.touch_judge2}<br>{$gameData.touch_judge3}</td>
        </tr>
      </table>
</div>
<div class="clr"></div>
{if $gameData.game_comment}
<br/>
{$gameData.game_comment|nl2br}
<br/>
<br/>
{/if}


{if count($gameMembers.self)}
<span class="self_team_nm" style="background-color:{$smarty.const.TEAMCOLOR_leaguerugby};">{$smarty.const.SELF_TEAM_SNM}{$gameData.team_grade}</span>

<div class="position_area" style="background-color:{$smarty.const.TEAMCOLOR_leaguerugby};">
  {section name=self_member loop=$gameMembers.self}
  {if ($gameMembers.self[self_member].member_order <= 15) && ($gameMembers.self[self_member].member_order > 0)}
  <div class="position_area{$gameMembers.self[self_member].member_order}">
    {if $gameMembers.self[self_member].member_id ne ''}
      <a href="/member_detail/id={$gameMembers.self[self_member].member_id}"><br>
      {if $gameMembers.self[self_member].image_s_exist}
      <img src="/files/member/member_photo/s/{$gameMembers.self[self_member].member_id}.jpg" alt="{$gameMembers.self[self_member].member_order}.{$gameMembers.self[self_member].disp_name}" title="{$gameMembers.self[self_member].member_order}.{$gameMembers.self[self_member].disp_name}" width="50" border="0"><br>
      {else}
      <br><br><br>
      {/if}
    {/if}
    {$gameMembers.self[self_member].disp_name}({$gameMembers.self[self_member].member_grade})</a><br>
    {if $gameMembers.self[self_member].try_point > 0 || $gameMembers.self[self_member].goal_point > 0 || $gameMembers.self[self_member].pgoal_point > 0 || $gameMembers.self[self_member].dgoal_point > 0}
      <span class="game_point_yellow">[
      {if $gameMembers.self[self_member].try_point > 0}{$gameMembers.self[self_member].try_point}T{/if}
      {if $gameMembers.self[self_member].goal_point > 0}{$gameMembers.self[self_member].goal_point}G{/if}
      {if $gameMembers.self[self_member].pgoal_point > 0}{$gameMembers.self[self_member].pgoal_point}PG{/if}
      {if $gameMembers.self[self_member].dgoal_point > 0}{$gameMembers.self[self_member].dgoal_point}DG{/if}
      ]</span>
    {/if}
  </div>
  {/if}
  {/section}
</div>

<table class="reserve_table" cellspacing="0">
  <tr>
    <th width="30%" style="background-color:{$smarty.const.TEAMCOLOR_leaguerugby};color:#ffffff;">リザーブ</th>
    <th width="5%" style="background-color:{$smarty.const.TEAMCOLOR_leaguerugby};color:#ffffff;">T</th>
    <th width="5%" style="background-color:{$smarty.const.TEAMCOLOR_leaguerugby};color:#ffffff;">G</th>
    <th width="5%" style="background-color:{$smarty.const.TEAMCOLOR_leaguerugby};color:#ffffff;">P</th>
    <th width="5%" style="background-color:{$smarty.const.TEAMCOLOR_leaguerugby};color:#ffffff;">D</th>
    <th width="50%" style="background-color:{$smarty.const.TEAMCOLOR_leaguerugby};color:#ffffff;">選手交代</th>
  </tr>
  {section name=self_member loop=$gameMembers.self}
  {if $gameMembers.self[self_member].member_order >= 16}
  <tr>
    <td>{$gameMembers.self[self_member].member_order}
      {if $gameMembers.self[self_member].member_id}<a href="/member_detail/id={$gameMembers.self[self_member].member_id}">{/if}
      {$gameMembers.self[self_member].disp_name}
      {if $gameMembers.self[self_member].member_id}</a>{/if}
      ({$gameMembers.self[self_member].member_grade})</td>
    <td class="center">{$gameMembers.self[self_member].try_point}</td>
    <td class="center">{$gameMembers.self[self_member].goal_point}</td>
    <td class="center">{$gameMembers.self[self_member].pgoal_point}</td>
    <td class="center">{$gameMembers.self[self_member].dgoal_point}</td>
    <td>{$gameMembers.self[self_member].change_info}</td>
  </tr>
  {/if}
  {/section}
</table>
{/if}



{if count($gameMembers.opp)}
  <span class="opp_team_nm">{$gameData.team_nm}{$gameData.opponent_grade}</span>
  <table class="opp_member_table" cellspacing="0">
    <tr>
      <th width="50" class="opp_member_table">背番号</th>
      <th width="90" class="opp_member_table">ポジション</th>
      <th width="140" class="opp_member_table">名前</th>
      <th class="opp_member_table">交代</th>
    </tr>
  {section name=opp_member loop=$gameMembers.opp}
    {if $gameMembers.opp[opp_member].member_order}
    <tr>
      <td class="center">{$gameMembers.opp[opp_member].member_order}</td>
      <td class="center">{$gameMembers.opp[opp_member].position}</td>
      <td>{$gameMembers.opp[opp_member].member_name}({$gameMembers.opp[opp_member].member_grade})</td>
      <td>{$gameMembers.opp[opp_member].change_info}</td>
    </tr>
    {/if}
  {/section}
  </table>
{/if}

{section name=game_topics loop=$gameTopicsList}
<h2 class="topics_subject">{$gameTopicsList[game_topics].subject}</h2>
<p class="topics_ymd">{$gameTopicsList[game_topics].ymd_str}</p>
<div class="topics_contents">{$gameTopicsList[game_topics].contents}</div>
{/section}
<div class="relation_link"><a href="/leaguerugby_list/" class="small_text">試合一覧へ</a></div>
</div>
{/module}

<style>
{literal}
.position_area{
  line-height:110%;
  margin-top:0px;
  position:relative;
  width:464px;
  height:340px;
  background-image:url(/images/modules/gamerugby/position_area.gif);
}
.position_area a{
  color:#ffffff;
  font-size: 85%;
}
.position_area a:visited{
  color:#ffffff;
}

.position_area1{position:absolute ;top:210px;left:3px;}
.position_area2{position:absolute ;top:120px;left:3px;}
.position_area3{position:absolute ;top:30px;left:3px;}
.position_area4{position:absolute ;top:180px;left:62px;}
.position_area5{position:absolute ;top:70px;left:62px;}
.position_area6{position:absolute ;top:220px;left:120px;}
.position_area7{position:absolute ;top:20px;left:120px;}
.position_area8{position:absolute ;top:120px;left:120px;}
.position_area9{position:absolute ;top:120px;left:178px;}
.position_area10{position:absolute ;top:120px;left:236px;}
.position_area11{position:absolute ;top:220px;left:352px;}
.position_area12{position:absolute ;top:180px;left:294px;}
.position_area13{position:absolute ;top:70px;left:294px;}
.position_area14{position:absolute ;top:20px;left:352px;}
.position_area15{position:absolute ;top:120px;left:411px;}

.game_point_yellow{
  color:yellow;
  font-size: 90%;

}
.reserve_table {
  border: 1px solid gray;
  font-size: 90%;
  line-height: 130%;
  width:464px;

}
</style>
{/literal}