[ <a href="/bbs_show/MODE=input&bbs_header_id={$bbs_header_id}">{'/label/first_posting'|translate}{*新規投稿*}</a> | 
<a href="/bbs_show/vm=tree&bbs_header_id={$bbs_header_id}">{'/label/tree'|translate}{*ツリー*}</a> | 
<a href="/bbs_show/vm=thread&bbs_header_id={$bbs_header_id}">{'/label/thread'|translate}{*スレッド*}</a> | 
<a href="/bbs_show/vm=list&bbs_header_id={$bbs_header_id}">{'/label/list'|translate}{*一覧*}</a> | 
<a href="/bbs_list/">{'/modules/bbs/label/bbs_list'|translate}{*掲示板一覧*}</a> ]
<hr/>
