{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}

<div class="list_right_bt">
    <h2>{'/modules/invoice/label/invoice_base_edit'|translate}</h2>
    <ul>
        {if $auth.invoice.insert}
        <li class="add"><a href="/management/invoice/invoice_base_edit/"><span>{'/label/add_btn'|translate}</span></a></li>
        {/if}
    </ul>
</div>

{pankuzu}
<a href="/management/menu/contents/">{'/label/menus/contents'|translate}</a>
<a href="/management/invoice/invoice_base_list/">{'/modules/invoice'|translate}</a>
<a href="/management/invoice/invoice_base_list/">{'/modules/invoice/label/invoice_base_list'|translate}</a>
{'/modules/invoice/label/invoice_base_edit'|translate}
{/pankuzu}

<div class="clear"></div>

<div class="main_contents">

    {rcms_include file="invoice/admin/minitabs.html" page_type=$ct}

    <div class="clearFloat"><br /></div>

    <div class="list_main">

        {rcms_include file="management/messages_box.html" messages=$messages}
        {rcms_include file="management/errors_box.html" errors=$errors}

        <form action="/management/invoice/invoice_base_edit/" method="post" name="invoice_base_edit" id="invoice_base_edit" enctype="multipart/form-data"> 
            <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
            <input type="hidden" name="MODE" value="" />
            <input type="hidden" name="id" value="{$id}" />
            <input type="hidden" name="_doc_lang" value="{$docmeta.lang}" />

            {if $latestRow.invoice_base_id}
            {lang_selector meta=$docmeta link='/management/invoice/invoice_base_edit/id='|cat:$id}
            {/if}

            <table width="100%">

                {if $docmeta.is_primary}
                <tr>
                    <th>{'/label/display_settings'|translate}<span class="required">{'/label/required'|translate}{*必須*}</span></th>
                    <td>
                        <select name="default_flg" id="default_flg"><option value=""></option>{html_options options=$INVOICE_DEFAULT_BASE_FLG_LIST selected=$formData.default_flg}</select>
                    </td>
                </tr>
                {/if}

                <tr>
                    <th>{'/label/name'|translate}<span class="required">{'/label/required'|translate}{*必須*}</span></th>
                    <td>
                        <input size="70" maxlength="100" id="base_name" name="base_name" type="text" value="{$formData.base_name|escape}" />
                    </td>
                </tr>

                {if $docmeta.is_primary}
                <tr>
                    <th>{'/label/postcode'|translate}<span class="required">{'/label/required'|translate}</span></th>
                    <td>
                    <input size="3" maxlength="3" id="zip_main" name="zip_main" type="text" value="{$formData.zip_main|escape}" /> - <input size="4" maxlength="4" id="zip_sub" name="zip_sub" type="text" value="{$formData.zip_sub|escape}" />
                    </td>
                </tr>
                {/if}

                <tr>
                    <th>{'/label/address'|translate}1（{'/label/address_state'|translate}/{'/label/address_city'|translate}/{'/label/street_number'|translate}）<span class="required">{'/label/required'|translate}</span></th>
                    <td>
                        <input size="70" maxlength="100" id="address1" name="address1" type="text" value="{$formData.address1|escape}" />
                    </td>
                </tr>

                <tr>
                    <th>{'/label/address'|translate}2（{'/label/building'|translate}）</th>
                    <td>
                        <input size="70" maxlength="100" id="address2" name="address2" type="text" value="{$formData.address2|escape}" />
                    </td>
                </tr>

                {if $docmeta.is_primary}
                <tr>
                    <th>{'/label/tel'|translate}<span class="required">{'/label/required'|translate}</span></th>
                    <td>
                        <input size="50" maxlength="20" id="tel" name="tel" type="text" value="{$formData.tel|escape}" />
                    </td>
                </tr>

                <tr>
                    <th>{'/label/fax_no'|translate}</th>
                    <td>
                        <input size="50" maxlength="20" id="fax" name="fax" type="text" value="{$formData.fax|escape}" />
                    </td>
                </tr>
                {/if}

                <tr>
                    <th>{'/label/terms_of_payment'|translate}<span class="required">{'/label/required'|translate}</span></th>
                    <td>
                        <input maxlengh="100" size="70" id="pay_condition" name="pay_condition" type="text" value="{$formData.pay_condition|escape}" />
                    </td>
                </tr>

                <tr>
                    <th>{'/modules/invoice/label/person_name'|translate}</th>
                    <td>
                        <input size="70" maxlength="100" id="person_name" name="person_name" type="text" value="{$formData.person_name|escape}" />
                    </td>
                </tr>

                <tr>
                    <th>{'/label/department'|translate}</th>
                    <td>
                        <input size="70" maxlength="100" id="person_dept" name="person_dept" type="text" value="{$formData.person_dept|escape}" />
                    </td>
                </tr>

                <tr>
                    <th>{'/label/official_position'|translate}</th>
                    <td>
                        <input size="70" maxlength="100" id="person_position" name="person_position" type="text" value="{$formData.person_position|escape}" />
                    </td>
                </tr>

                <tr>
                    <th>{'/label/bank_account_name'|translate}</th>
                    <td>
                        <input size="70" maxlength="100"  id="bank_account_nm" name="bank_account_nm" type="text" value="{$formData.bank_account_nm|escape}" />
                    </td>
                </tr>

                {if $docmeta.is_primary}
                <tr>
                    <th>{'/label/bank_account_number'|translate}</th>
                    <td>
                        <select name="bank_account_type" id="bank_account_type"><option value=""></option>{html_options options=$INVOICE_BANK_ACCOUNT_TYPE_LIST selected=$formData.bank_account_type}</select>
                        <input id="bank_account_no" name="bank_account_no" type="text" value="{$formData.bank_account_no|escape}" />
                    </td>
                </tr>
                {/if}

                <tr>
                    <th>{'/label/transfer_bank'|translate}</th>
                    <td>
                        {'/label/name'|translate}:<input size="70" maxlength="100" id="bank_nm" name="bank_nm" type="text" value="{$formData.bank_nm|escape}" />
                        {if $docmeta.is_primary}
                        <br />
                        {'/label/bank_code'|translate}:<input size="10" maxlength="4" id="bank_cd" name="bank_cd" type="text" value="{$formData.bank_cd|escape}" />
                        {/if}
                    </td>
                </tr>

                <tr>
                    <th>{'/label/transfer_bank_branch'|translate}</th>
                    <td>
                        {'/label/name'|translate}:<input size="70" maxlength="100" id="bank_branch_nm" name="bank_branch_nm" type="text" value="{$formData.bank_branch_nm|escape}" />
                        {if $docmeta.is_primary}
                        <br />
                        {'/label/bank_branch_code'|translate}:<input size="10" maxlength="4" id="bank_branch_cd" name="bank_branch_cd" type="text" value="{$formData.bank_branch_cd|escape}" />
                        {/if}
                    </td>
                </tr>

                {if $docmeta.is_primary}
                <tr>
                    <th>{'/label/tax_rate'|translate}<span class="required">{'/label/required'|translate}</span></th>
                    <td>
                        <input size="3" maxlength="3" id="tax_rate" name="tax_rate" type="text" value="{$formData.tax_rate|escape}" />%
                    </td>
                </tr>

                <tr>
                    <th>{'/label/tax_calc_setting'|translate}<span class="required">{'/label/required'|translate}</span></th>
                    <td>
                        {html_radios name="tax_setting" options=$INVOICE_TAX_SETTING_LIST selected=$formData.tax_setting separator=""}
                    </td>
                </tr>

                <tr>
                    <th>請求書番号採番ルール名称</th>
                    <td>
                        <input size="70" maxlength="100"  id="invoice_no_rule_nm" name="invoice_no_rule_nm" type="text" value="{$formData.invoice_no_rule_nm|escape}" />
                        <p>
                        <span>同じ請求元で、商品ごとに採番ルールが違う場合などに設定してください。</span>
                        </p>
                    </td>
                </tr>

                <tr>
                    <th>請求書番号採番ルール</th>
                    <td>
                        <input size="70" maxlength="100"  id="invoice_no_rule" name="invoice_no_rule" type="text" value="{$formData.invoice_no_rule|escape}" />
                        <br/>
                        <a href="javascript:void(0)" onclick="display('about_setting_rule')">設定方法</a>
                        <div style="display:none;" id="about_setting_rule">
                        ■１．年度の設定<br/>
                        <p>
                        <span>%%yyyy%%…年４桁</span>
                        </p>
                        <p>
                        <span>%%yy%%…年２桁</span>
                        </p>

                        ■２．月の設定<br/>
                        <p>
                        <span>%%mm%%…月２桁（先頭に０を付ける）</span>
                        </p>
                        <p>
                        <span>%%m%%…月１～２桁（先頭に０を付けない）</span>
                        </p>
                        <p>

                        ■３．連番の設定<br/>
                        <p>
                        <span>%%nnnn%%…連番４桁(連番は請求書発行月毎です。)</span>
                        </p>

                        ■４．区分（商品コードなど）の設定<br/>
                        <p>
                        <span>商品コードなどの文字列はそのまま出力します。</span>
                        </p>
                        <br />
                        <p>
                        [説明]<br />
                        上記１～４を自由に組み合わせて、請求書の採番ルールを決めることが出来ます。<br />
                        それぞれの項目は設定必須ではなく、並び順も自由です。
                        </p>
                        例示：２０１０年８月の請求書（年度…2010、月…8、区分…Aの場合）
                        <p>
                        <span>(ex1)  %%yyyy%%%%mm%%_A_%%nnnn%%</span>
                        <span><br/>１通目…201008_A_0001<br/>２通目…201008_A_0002<br/>３通目…201008_A_0003・・・ となります。</span>
                        </p>
                        <p>
                        <span>(ex2)  %%yyyy%%%%m%%%%nnnn%%A</span>
                        <span><br/>１通目…201080001A<br/>２通目…201080002A<br/>３通目…201080003A・・・ となります。</span>
                        </p>
                        </div>
                   </td>
                </tr>

                <tr>
                    <th>{'/modules/invoice/label/logo_image'|translate}</th>
                    <td>
                        {if $formData.logo_image_url != ''}
                        <img src="{$formData.logo_image_url}?{$smarty.now}" width="{$INVOICE_BASE_IMAGE_KEY_LIST[$smarty.const.INVOICE_IMAGE_KEY_LOGO].width}px" height="{$INVOICE_BASE_IMAGE_KEY_LIST[$smarty.const.INVOICE_IMAGE_KEY_LOGO].height}px" id="logo_image_url" />
                        <p><a id="del_logo_image_url" href="javascript:;" onClick="$('hidden_logo_image_url').value='';$('logo_image_url').style.display='none';$('del_logo_image_url').style.display='none';">{'/label/delete'|translate}</a></span></p>
                        <br>
                        <input type="hidden" name="logo_image_url" value="{$formData.logo_image_url}" id="hidden_logo_image_url" />
                        {/if}
                        <input type="file" size="65" name="save_logo_image_url" maxlength="100" />
                    </td>
                </tr>

                {section name=stamp_section loop=$smarty.const.INVOICE_STAMPS_COUNT}
                {assign var="stamp_idx" value=$smarty.section.stamp_section.index+1}
                {assign var="stamp_image_url" value="stamp"|cat:$stamp_idx|cat:"_image_url"}
                {assign var="stamp_image_key" value="stamp"|cat:$stamp_idx|cat:"_image"}
                <tr>
                    <th>{'/modules/invoice/label/stamp_image'|translate}{$stamp_idx}</th>
                    <td>
                        {if $formData.$stamp_image_url != ''}
                        <img src="{$formData.$stamp_image_url}?{$smarty.now}" width="{$INVOICE_BASE_IMAGE_KEY_LIST[$stamp_image_key].width}px" height="{$INVOICE_BASE_IMAGE_KEY_LIST[$stamp_image_key].height}px" id="{$stamp_image_url}" />
                        <p><a id="del_{$stamp_image_url}" href="javascript:;" onClick="$('hidden_{$stamp_image_url}').value='';$('{$stamp_image_url}').style.display='none';$('del_{$stamp_image_url}').style.display='none';">{'/label/delete'|translate}</a></span></p>
                        <br>
                        <input type="hidden" name="{$stamp_image_url}" value="{$formData.$stamp_image_url}" id="hidden_{$stamp_image_url}" />
                        {/if}
                        <input type="file" size="65" name="save_{$stamp_image_url}" maxlength="100" />
                    </td>
                </tr>
                {/section}

                {/if}

            </table>

            {editActionBox docmeta=$docmeta}{/editActionBox}
            {rcms_include file="management/update_comment.html" comment=$formData.update_comment}

        </form>

    </div>

</div>


{literal}
<script type="text/javascript">
<!--
function confirmDelete(f) {
    // 削除してもよろしいですか？
    if (confirm('{/literal}{'/msg/confirm_del'|translate}{literal}')) {
        f.MODE.value = "DELETE";
        f.submit();
    }
}
window.onload = function() {
}
-->
</script>
{/literal}
{rcms_include file='management/footer.html'}
