<h2>[emoji:068]{'/label/image_list'|translate}{*画像一覧*}</h2>
<ul data-role="listview">
{section name=mydata loop=$photoList}
<li>
<a href="/photo_detail/id={$photoList[mydata].photo_id}&type={$type}&search_id={$search_id}&season={$season}">
<img src="{$smarty.const.PHOTO_S_SAVE_URL}/{$photoList[mydata].photo_id}.jpg" alt="{$photoList[mydata].title}">
<h3>{$photoList[mydata].title}</h3>
<p>[{$photoList[mydata].ymd}]</p>
</a>
</li>
{/section}
</ul>

{$page_links}

{if $using_season}
  <form action="/{$page_sysnm}/" method="get">
  {rcms_seasonOptions name=season selected=$season firstOption=true}
  <input type="submit" value="{'/label/search'|translate}{*検索*}">
  </form>
{/if}

<hr/>
