{if $photoList|@count>0}
<h2>[emoji:068]{'/label/new_image'|translate}{*新着画像*}</h2>
<ul data-role="listview">
{section name=mydata loop=$photoList}
<li>
<a href="/photo_detail/id={$photoList[mydata].photo_id}&type={$type}&search_id={$search_id}&season={$season}">
<img src="{$smarty.const.PHOTO_S_SAVE_URL}/{$photoList[mydata].photo_id}.jpg" alt="{$photoList[mydata].title}">
<h3>{$photoList[mydata].title}</h3>
<p>[{$photoList[mydata].ymd}]</p>
</a>
</li>
{/section}
</ul>

<hr/>
<div align="text-align:right;font-size:small;">
<a href="/photo_list/{$param}">{'/label/to_other_images'|translate}{*他の画像を見る*}</a>
</div>
<hr/>
{/if}
