{module name="game_opponent"}
<h2 class="module_title"><span>{'/modules/game/label/game_record_with'|translate:$gameData.team_nm:$gameData.opponent_grade}{*●●との戦績*}</span></h2>
<div class="module_contents">
{if $gameRecord.start_year ne ''}
<p class="subitem_list">{'/modules/game/label/official_game_record'|translate}{*公式戦対戦成績*}（{'/label/yyyy'|translate:$gameRecord.start_year}～{'/label/yyyy'|translate:$gameRecord.end_year}） {$smarty.const.SELF_TEAM_SNM} {'/label/win_lose_draw'|translate:$gameRecord.win_cnt:$gameRecord.lose_cnt:$gameRecord.even_cnt}{*n勝n敗n分*}</p>
{/if}
{if $gameList.0.opponent eq ''}
<p class="subitem_list">{'/msg/past_game_record_not_exist'|translate}{*過去の戦績はありません*}</p>
{else}
<p class="subitem_list">{'/label/results_of_latest_three_games'|translate}{*過去３試合の対戦結果*}</p>
{section name=mydata loop=$gameList max=3}
<p class="subitem_list">
{$gameList[mydata].ymd_str} {$gameList[mydata].game_type}{$gameList[mydata].game_type2} <a href="/gamebaseball_detail/id={$gameList[mydata].game_id}">
{if $gameList[mydata].game_status eq '3'}
{if $gameList[mydata].score_detail_arr.vs_result_self eq 'win'}
○
{elseif $gameList[mydata].score_detail_arr.vs_result_self eq 'lose'}
●
{elseif $gameList[mydata].score_detail_arr.vs_result_self eq 'even'}
△
{/if}
{$gameList[mydata].score_detail_arr.Self_Total}{/if}
-{if $gameList[mydata].game_status eq '3'}
{$gameList[mydata].score_detail_arr.Opp_Total}
{if $gameList[mydata].score_detail_arr.vs_result_opp eq 'win'}
○
{elseif $gameList[mydata].score_detail_arr.vs_result_opp eq 'lose'}
●
{elseif $gameList[mydata].score_detail_arr.vs_result_opp eq 'even'}
△
{/if}
{/if}
</a>
</p>
{/section}
{/if}
</div>
{/module}
