{module name="sitemap2"}
<h2 class="module_title"><span>{'/label/site_map'|translate}{*サイトマップ*}</span></h2>
<div class="module_contents">

	<h3 class="home"><a href="/">{$smarty.const.SITE_TITLE}</a></h3>

	<div class="sitemap_list">

{foreach item="page_data" from=$page_list name="row"}
	<div>
		<h3><a href="{$page_data.link}">{$page_data.page_nm}</a></h3>

		<ul>
			{foreach item="page_data1" from=$page_data.child1 name="row1"}
			<li>{if $smarty.foreach.row1.last}<img src="/images/modules/page/sitemap_3.gif">{else}<img src="/images/modules/page/sitemap_2.gif">{/if}<a href="{$page_data1.link}">{$page_data1.page_nm}</a>
				{foreach item="page_data2" from=$page_data1.child2 name="row2"}
					{if $smarty.foreach.row2.first}
						<ul>
					{/if}
							<li>{if $smarty.foreach.row2.last}<img src="/images/modules/page/sitemap_5.gif">{else}<img src="/images/modules/page/sitemap_4.gif">{/if}<a href="{$page_data2.link}">{$page_data2.page_nm}</a></li>
					{if $smarty.foreach.row2.last}
						</ul>
					{/if}
				{/foreach}
			</li>
			{/foreach}
		</ul>
	</div>
{/foreach}
<div class="clr"></div>
	</div>

</div>
{/module}