{rcms_include file="management/header.html"}
{rcms_include file="menu/admin/subnavi.html"}
<script type="text/javascript">
{literal}
<!--
function confirmDelete(f) {
   if (confirm('選択された商品を削除します。\nよろしいですか？')) {
       f.MODE.value = 'DELETE';
       f.submit();
   }
}

// パラメータ生成
function generateParam() {
    var param = new Array();
    var cb = document.module_param_form.module_param_contents_type;
    if (cb.length) {
        for (var i = 0 ; i < cb.length ; i++) {
            if (cb[i].checked) {
                param.push('contents_type[]=' + cb[i].value);
            }
        }
    }
    else {
        if (cb.checked) {
            param.push('contents_type[]=' + cb.value);
        }
    }
    document.module_param_form.module_param.value = param.join('&');
}
-->
{/literal}
</script>
<div class="list_right_bt">
<h2>「{$shopping_group_nm}」の{$module_nm}カテゴリ設定</h2>
<ul>
{if $auth.shopping.insert}
<li class="add"><a href="/management/shopping/shopping_category_edit/{if $shopping_group_id}shopping_group_id={$shopping_group_id}{/if}"><span>カテゴリ追加</span></a></li>
{/if}
</ul>
</div>
{pankuzu}
<a href="/management/menu/contents/">コンテンツ更新</a>
<a href="/management/shopping/shopping_group_list/">{$module_nm}</a>
<a href="/management/shopping/shopping_group_list/">グループ一覧</a>
「{$shopping_group_nm}」のカテゴリ設定
{/pankuzu}
<div class="clear"></div>

<div class="main_contents">
<ul class="minitabs">
  <li><a href="/management/shopping/shopping_group_edit/shopping_group_id={$shopping_group_id}">グループ設定</a></li>
  <li><a href="/management/shopping/shopping_list/shopping_group_id={$shopping_group_id}">商品一覧</a></li>
  <li><a href="/management/shopping/shopping_edit/shopping_group_id={$shopping_group_id}">商品編集</a></li>
  <li><a href="/management/shopping/shopping_lump/shopping_group_id={$shopping_group_id}">一括処理</a></li>
  <li><a href="/management/shopping/shopping_category_list/shopping_group_id={$shopping_group_id}" class="active">カテゴリ設定</a></li>
</ul>

<div class="list_main">

{rcms_include file="management/messages_box.html" messages=$messages}
{rcms_include file="management/errors_box.html" errors=$errors}

  <form name="shopping_category_list" method="POST" action="/management/shopping/shopping_category_list/">
    <input type="hidden" name="DG_CODE" value="{$DG_CODE}" />
    <input type="hidden" name="MODE" />
    <input type="hidden" name="shopping_group_id" value="{$shopping_group_id}" />

    <table width="100%" border="0" cellspacing="2" cellpadding="0">
      <tr>
{if $auth.shopping.update || $auth.shopping.delete}
        <th style="width:20px;"><input type="checkbox" name="select_all_list" value="1" onClick="AllChecked(this.checked, this.form, 'shopping_category_id[]');"></th>
{/if}
        <th width="26">公開</th>
        <th style="width:30px;">ID</th>
        <th>カテゴリ名</th>
        <th>メモ</th>
        <th style="width:30px;">並び順</th>
      </tr>
    {foreach from=$shopping_category_list item=row}
      {if $row.shopping_category_id ne 0}
      <tr>
        {if $auth.shopping.update || $auth.shopping.delete}
          <td><input type="checkbox" name="shopping_category_id[]" value="{$row.shopping_category_id}"></td>
        {/if}
        <td>
          {if $row.open_flg eq 1}
          <img src="/images/management/check.gif" />
          {elseif $row.open_flg eq 0}
          <img src="/images/management/batu.gif" />
          {/if}
        </td>
        <td>{$row.shopping_category_id}</td>
        <td {if $row.parent_id != 0}class="child"{/if}><a href="/management/shopping/shopping_category_edit/shopping_category_id={$row.shopping_category_id}&shopping_group_id={$shopping_group_id}">{$row.category_nm}</a></td>
        <td>{$row.memo|escape|nl2br}</td>
        <td><input type="text" name="category_weight[{$row.shopping_category_id}]" value="{$row.category_weight}"></td>
      </tr>
      {/if}
    {/foreach}
    </table>

    {if $auth.shopping.update || $auth.shopping.delete}
      {buttonbox}
        <p>選択したカテゴリを一括で</p>
        {if $auth.shopping.update}
            <button type="submit" onclick="this.form.MODE.value='PUBLIC'">公開する</button>
            <button type="submit" onclick="this.form.MODE.value='PRIVATE'">非公開する</button>
        {/if}
        {if $auth.shopping.delete}
            <button type="button" onclick="confirmDelete(this.form)">削除する</button>
        {/if}
        {if $auth.shopping.update}
            {* 並び順更新ボタンは右寄せ *}
            </ul><ul style="float:right;"><button type="submit" onclick="this.form.MODE.value='CHANGE_ORDER'">{'/label/change_order_btn'|translate}</button>
        {/if}
      {/buttonbox}
    {/if}

  </form>

  <div style="margin-top:20px">
    <a href="javascript:;" onclick="display('generate_param_box');return false;">&gt;&gt;カテゴリを指定してサイト表示したい場合はこちら</a>
    <div id="generate_param_box" style="display:none">
      <p>
        カテゴリを指定して商品一覧をサイト表示することができます。<br>
        方法は<a href="/management/page/page_list/">サイト基本設定／ページ設定</a>でページ編集を行うときに、コンテンツのパラメータを設定することです。<br/><br/>
        ここでは、そのパラメータを生成します。<br />
        １．一覧に表示したいカテゴリを選択して「パラメータ生成」をクリックしてください。複数選択できます。<br >
        ２．するとテキストボックスにパラメータ文字列が生成されます。<br />
        ３．この文字列をコピーしてページ編集画面で貼り付けて使用してください。
      </p>
      <form name="module_param_form">
      <ul>
      {foreach from=$shopping_category_list item=row}
        <li><input type="checkbox" name="module_param_contents_type" id="module_param_contents_type{$row.shopping_category_id}" value="{$row.shopping_category_id}" /><label for="module_param_contents_type{$row.shopping_category_id}">{$row.category_nm}</label></li>
      {/foreach}
      </ul>
      <input type="button" onclick="generateParam()" value="パラメータ生成" /><br />
      <input type="text" size="80" name="module_param" id="module_param" />
      </form>
    </div>
  </div>
</div>
</div>

{literal}

<style>
td.child a{
  margin-left: 10px;
  padding-left: 5px;
  border-left: 1px dotted #000;
}
#generate_param_box {
  margin-top:5px;
  padding:10px 10px 10px 10px;
  border: 1px solid #999;
}
#generate_param_box p {
  margin-bottom:10px;
  line-height: 1.25em;
}
</style>
{/literal}

{rcms_include file="management/footer.html"}
