{if $items}
{module name="api_rakuten_relation"}
<h2 class="module_title"><span>関連商品情報</span></h2>
<div class="module_contents">
  <table>
    <tbody>
      {foreach from=$items item=item}
      <tr>
        <td><a href="{$item.detail}">{$item.item_name}</a></td>
      </tr>
      {/foreach}
    </tbody>
  </table>
  <p><a href="http://webservice.rakuten.co.jp/" onclick="return !window.open(this.href)"><img src="http://webservice.rakuten.co.jp/img/credit/200709/credit_22121.gif" alt="楽天ウェブサービスセンター" title="楽天ウェブサービスセンター" width="221" height="21"/></a></p>
</div>
{/module}
{/if}
